<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.kding.cloud.extras.activation.dao.ideviceActivateMapper" >
 
  	<resultMap id="BaseResultMap" type="DeviceActivateModel" >
	    <result column="id" property="id" jdbcType="BIGINT" />
	    <result column="APP_id" property="appId" jdbcType="VARCHAR" />
	    <result column="APP_CHANNEL" property="appChannel" jdbcType="VARCHAR" />
	    <result column="APP_VERSION" property="appVersion" jdbcType="VARCHAR" />
	    <result column="DEVICE_IMEI" property="deviceImei" jdbcType="VARCHAR" />
	    <result column="DEVICE_MODEL" property="deviceModel" jdbcType="VARCHAR" />
	    <result column="CREATOR" property="creator" jdbcType="BIGINT" />
	    <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
	    <result column="MODIFYER" property="modifyer" jdbcType="BIGINT" />
	    <result column="MODIFY_TIME" property="modifyTime" jdbcType="TIMESTAMP" />
	    <result column="IS_DELETE" property="isDelete" jdbcType="TINYINT" />
  	</resultMap>
  	
	<insert id="insert">
		insert into KDING_DEVICE_ACTIVATE (APP_id, APP_CHANNEL,APP_VERSION, DEVICE_IMEI, DEVICE_MODEL)
		values (#{appId,jdbcType=VARCHAR}, #{appChannel,jdbcType=VARCHAR},#{appVersion,jdbcType=VARCHAR}, #{deviceImei,jdbcType=VARCHAR}, #{deviceModel,jdbcType=VARCHAR})
	</insert>
	
	<!--通过设备唯一标识查询主键id -->
	<select id="getActivatedByDeviceIMEI" resultMap="BaseResultMap">
		SELECT
			t.id,
			t.APP_id,
			t.APP_CHANNEL,
			t.APP_VERSION,
			t.DEVICE_IMEI,
			t.DEVICE_MODEL,
			t.CREATOR,
			t.CREATE_TIME,
			t.MODIFYER,
			t.MODIFY_TIME,
			t.IS_DELETE 
		FROM
			KDING_DEVICE_ACTIVATE t 
		WHERE
			t.DEVICE_IMEI = #{deviceIMEI}
	</select>
	
</mapper>