<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="net.jeebiz.admin.shadow.dao.IAuthzLoginDao">

	<resultMap id="LoginMap" type="AuthzLoginModel">
		<!-- 用户id -->
		<result property="id" column="u_id" />
		<!-- 用户唯一Uid（用户编号） -->
		<result property="uid" column="u_uid" />
		<!-- 用户唯一编号（内部工号） -->
		<result property="ucode" column="u_code" />
		<!-- 用户名称 -->
        <result property="username" column="u_username"/>
        <!-- 用户密码 -->
        <result property="password" column="u_password"/>
        <!-- 用户密码盐：用于密码加解密 -->
        <result property="salt" column="u_salt"/>
        <!-- 用户秘钥：用于用户JWT加解密 -->
        <result property="secret" column="u_secret"/>
        <!-- 用户状态(0:不可用|1:正常|2:锁定) -->
        <result property="status" column="u_status"/>
        <!-- 初始化时间 -->
        <result property="time24" column="u_time24"/>
        <!-- 角色id（可能多个组合，如：1,2） -->
		<result property="roleId" column="r_id" />
		<!-- 角色名称（可能多个组合，如：角色1,角色2） -->
		<result property="roleName" column="r_name" />
	</resultMap>
	
	<resultMap id="LoginStatusMap" type="AuthzLoginStatusModel">
		<result property="ucount" column="u_count" />
		<result property="pcount" column="p_count" />
		<result property="rcount" column="r_count" />
		<result property="status" column="u_status" />
		<result property="salt" column="u_salt" />
	</resultMap>
	
	<resultMap id="ProfileMap" type="net.jeebiz.boot.api.dao.entities.BaseMap">
		<!-- 用户唯一Uid（用户编号） -->
		<result property="uid" column="u_uid" />
		<!-- 用户唯一编号（内部工号） -->
		<result property="ucode" column="u_code" />
        <!-- 用户客户端应用id -->
        <result property="appId" column="u_app_id"/>
        <!-- 用户客户端应用渠道编码  -->
		<result property="appChannel" column="u_app_channel" />
        <!-- 用户客户端版本 -->
        <result property="appVer" column="u_app_version"/>
        <!-- 用户是否在线（1：是，0：否） -->
        <result property="online" column="u_online"/>
        <!-- 用户最近一次登录时间 -->
        <result property="onlineLatest" column="u_latest_online" />
        <!-- 用户别名（昵称） -->
        <result property="nickname" column="u_nickname"/>
        <!-- 用户头像：图片路径或图标样式  -->
		<result property="avatar" column="u_avatar" />
        <!-- 手机号码国家码 -->
        <result property="countryCode" column="u_country_code"/>
        <!-- 手机号码 -->
        <result property="phone" column="u_phone"/>
        <!-- 电子邮箱 -->
        <result property="email" column="u_email"/>
        <!-- 性别：（M：男，F：女） -->
        <result property="gender" column="u_gender" />
        <!-- 出生日期 -->
		<result property="birthday" column="u_birthday" />
		<!-- 身份证号码 -->
		<result property="idcard" column="u_idcard" />
		<!-- 用户年龄 -->
		<result property="age" column="u_age" />
		<!-- 用户身高 -->
		<result property="height" column="u_height" />
		<!-- 用户体重 -->
		<result property="weight" column="u_weight" />
		<!-- 官方语言 -->
		<result property="language" column="u_language" />
		<!-- 用户备注 -->
		<result property="intro" column="u_intro" />
		<!-- 个人照片（包含是否封面标记、序号、地址的JSON字符串） -->
		<result property="photos" column="u_photos" />
		<!-- 用户位置：常驻省份 -->
		<result property="province" column="u_province" />
		<!-- 用户位置：常驻城市 -->
		<result property="city" column="u_city" />
		<!-- 用户位置：常驻区域 -->
		<result property="area" column="u_area" />
		<!-- 用户位置：常驻地经度 -->
		<result property="longitude" column="u_wgs84_lng" />
		<!-- 用户位置：常驻地纬度 -->
		<result property="latitude" column="u_wgs84_lat" />
		<!-- 用户信息完成度 -->
		<result property="degree" column="u_degree" />
        <!-- 初始化时间 -->
        <result property="time24" column="u_time24"/>
	</resultMap>
	
    <select id="getAccountStatus" parameterType="string" resultMap="LoginStatusMap" useCache="false">
	    select (select count('1') from sys_authz_user_list a where a.u_username = #{username}) u_count,
		       (select count('1') from sys_authz_user_list b where b.u_username = #{username} and b.u_password = #{password,jdbcType=VARCHAR} ) p_count,
		       (select count('1') from sys_authz_user_list c, sys_authz_user_role_relation x where c.u_id = x.u_id and c.u_username = #{username}) r_count,
		       NVL((select NVL(d.u_status,'0') from sys_authz_user_list d where d.u_username = #{username}),'0') u_status,
		       (select d.u_salt from sys_authz_user_list d where d.u_username = #{username}) as u_salt
		from dual
    </select>

    <select id="getAccountStatusWithoutPwd" parameterType="string" resultMap="LoginStatusMap" useCache="false">
	    select (select count('1') from sys_authz_user_list a where a.u_username = #{username}) u_count,
		       (select count('1') from sys_authz_user_list c, sys_authz_user_role_relation x where c.u_id = x.u_id and c.u_username = #{username}) r_count,
		       NVL((select NVL(d.u_status,'0') from sys_authz_user_list d where d.u_username = #{username}),'0') u_status,
		       (select d.u_salt from sys_authz_user_list d where d.u_username = #{username}) as u_salt
		from dual
    </select>
    
    <select id="getAccountStatusById" parameterType="string" resultMap="LoginStatusMap" useCache="false">
	    select (select count('1') from sys_authz_user_list a where a.u_id = #{id}) u_count,
		       (select count('1') from sys_authz_user_list c,sys_authz_user_role_relation x where c.u_id = x.u_id and c.u_id = #{id}) r_count,
		       NVL((select NVL(d.u_status,'0') from sys_authz_user_list d where d.u_id = #{id}),'0') u_status,
		       (select d.u_salt from sys_authz_user_list d where d.u_id = #{id}) as u_salt
		from dual
    </select>
    
    <sql id="AccountSQL">
		 select t.u_id,
				t.u_uid,
				t.u_code,
				t.u_username,
				t.u_password,
				t.u_salt,
				t.u_secret,
				t.u_status,
				t.u_time24
		   from sys_authz_user_list t
		  where t.u_username = #{username}
	</sql>

    <!-- 根据用户id和密码查询用户信息  -->
    <select id="getAccount" parameterType="string" resultMap="LoginMap" useCache="false">
        <include refid="AccountSQL"/>
        and t.u_password = #{password}
    </select>

    <!-- 无密码根据用户id用户信息  -->
    <select id="getAccountWithoutPwd" parameterType="string" resultMap="LoginMap" useCache="false">
        <include refid="AccountSQL"/>
    </select>
	
	<select id="getAccountById" parameterType="string" resultMap="LoginMap" useCache="false">
         select t.u_id,
				t.u_uid,
				t.u_code,
				t.u_username,
				t.u_password,
				t.u_salt,
				t.u_secret,
				t.u_status,
				t.u_time24
		  from sys_authz_user_list t
		 where t.u_id = #{id}
    </select>
    
    <select id="getAccountByUcode" parameterType="string" resultMap="LoginMap" useCache="false">
         select t.u_id,
				t.u_uid,
				t.u_code,
				t.u_username,
				t.u_password,
				t.u_salt,
				t.u_secret,
				t.u_status,
				t.u_time24
		  from sys_authz_user_list t
		 where t.u_code = #{ucode}
    </select>
	
    <select id="getAccountByUid" parameterType="string" resultMap="LoginMap" useCache="false">
         select t.u_id,
				t.u_uid,
				t.u_code,
				t.u_username,
				t.u_password,
				t.u_salt,
				t.u_secret,
				t.u_status,
				t.u_time24
		   from sys_authz_user_list t
		  where t.u_uid = #{uid}
    </select>
    
    <select id="getAccountProfile" parameterType="string" resultMap="ProfileMap">
	    SELECT
			t.u_uid,
			t.u_code,
			t.u_app_id,
			t.u_app_channel,
			t.u_app_version,
			t.u_online,
			t.u_latest_online,
			t2.u_nickname,
			t2.u_avatar,
			t2.u_country_code,
			t2.u_phone,
			t2.u_email,
			t2.u_gender,
			t2.u_birthday,
			t2.u_idcard,
			t2.u_age,
			t2.u_height,
			t2.u_weight,
			t2.u_language,
			t2.u_intro,
			t2.u_photos,
			t2.u_province,
			t2.u_city,
			t2.u_area,
			t2.u_wgs84_lng,
			t2.u_wgs84_lat,
			t2.u_degree,
			t2.u_time24
		FROM sys_authz_user_list t LEFT JOIN sys_authz_user_profile t2 ON t.u_id = t2.u_id
	   WHERE t.u_id = #{userid}
    </select> 

</mapper>