<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="io.hiwepy.admin.extras.logbiz.dao.BizLogMapper" >

	 <resultMap id="BizLogMap" type="BizLogEntity">
		<result property="id" column="log_id" />
		<result property="module" column="log_biz" />
		<result property="business" column="log_biz" />
		<result property="opt" column="log_opt" />
		<result property="addr" column="log_addr" />
		<result property="location" column="log_location" />
		<result property="msg" column="log_msg" />
		<result property="exception" column="log_excp" javaType="java.lang.String" jdbcType="CLOB"/>
		<result property="userId" column="log_userid" />
		<result property="nickname" column="log_nickname" />
		<result property="timestamp" column="log_timestamp"/>
		<result property="deviceId" column="device_id" />
		<result property="appId" column="u_app_id" />
		<result property="appChannel" column="u_app_channel" />
		<result property="appVersion" column="u_app_version" />
	</resultMap>

	<select id="getPagedList" resultMap="BizLogMap" parameterType="BizLogEntity">
		SELECT
			t.log_id,
			t.log_module,
			t.log_biz,
			t.log_opt,
			t.log_addr,
			t.log_location,
			t.log_msg,
			t.log_excp,
			t.creator as log_userid,
			t2.nickname as log_nickname,
			t.create_time as log_timestamp,
			t.device_id,
			t.u_app_id,
			t.u_app_channel,
			t.u_app_version
		FROM sys_log_biz t, sys_authz_user_profile t2
		WHERE t.creator = t2.u_id
		<if test="model.userId != null and model.userId != '' ">
			AND t.creator = #{model.userId}
		</if>
		<if test="model.module != null and model.module != '' ">
			AND t.log_module = #{model.module}
		</if>
		<if test="model.business != null and model.business != '' ">
			AND t.log_biz like '%' || #{model.business} || '%'
		</if>
		<if test="model.opt != null and model.opt != '' ">
			AND t.log_opt = #{model.opt}
		</if>
		<if test="model.nickname != null and model.nickname != '' ">
			AND t2.nickname like '%'||#{model.nickname}||'%'
		</if>
		<if test="model.begintime != null and model.begintime != '' and model.endtime != null and model.endtime != '' ">
			<![CDATA[ AND to_date(t.create_time,  'yyyy-mm-dd HH24:mi:ss') BETWEEN to_date(#{model.begintime},  'yyyy-mm-dd HH24:mi:ss') AND to_date(#{model.endtime},  'yyyy-mm-dd HH24:mi:ss') ]]>
		</if>
		ORDER BY t.log_id DESC
	</select>

</mapper>
