<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.jeebiz.admin.extras.article.dao.IArticleTagDao">

	<resultMap id="ArticleTagMap" type="ArticleTagModel">
        <!-- 文章标签ID -->
		<result property="id" column="T_ID" />
		<!-- 文章ID -->
		<result property="cid" column="T_CID" />
		<!-- 文章标签名称 -->
		<result property="name" column="T_NAME" />
		<!-- 文章标签设置时间 -->
		<result property="time24" column="T_TIME24" />
    </resultMap>

	<insert id="insert" parameterType="ArticleTagModel" flushCache="true">
		INSERT INTO SYS_ARTICLE_CONTENT_TAGS(T_CID,T_NAME) VALUES (#{cid},#{name})
	</insert>
	
	<delete id="batchDelete" flushCache="true">
		DELETE FROM SYS_ARTICLE_CONTENT_TAGS WHERE T_ID IN 
		<foreach collection="list" index="index" item="item" open="(" separator="," close=")">  
           #{item} 
        </foreach>
	</delete>
	
	<update id="update" parameterType="ArticleTagModel" flushCache="true">
		UPDATE SYS_ARTICLE_CONTENT_TAGS t 
		   SET T_NAME = #{name}
		 WHERE T_ID = #{id}
	</update>
	
	<select id="getRowList" resultMap="ArticleTagMap" parameterType="java.lang.String" useCache="false">
		SELECT
			t.T_ID,
			t.T_CID,
			t.T_NAME,
			t.T_TIME24
		FROM SYS_ARTICLE_CONTENT_TAGS t
	   WHERE t.T_CID = #{cid}
	ORDER By t.T_TIME24 ASC
	</select>

</mapper>
