<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.jeebiz.admin.extras.article.dao.IArticleVisitDao">

	<resultMap id="ArticleVisitMap" type="ArticleVisitModel">
        <!-- 文章访问ID -->
		<result property="id" column="V_ID" />
		<!-- 文章ID -->
		<result property="cid" column="V_CID" />
		<!-- 文章访问者ID -->
		<result property="uid" column="V_UID" />
		<!-- 文章访问者姓名 -->
		<result property="uname" column="V_UNAME" />
		<!-- 访问来源IP -->
		<result property="addr" column="V_ADDR" />
		<!-- 访问来源地址 -->
		<result property="location" column="V_LOCATION" />
		<!-- 访问来源User-Agent -->
		<result property="agent" column="V_AGENT" />
		<!-- 文章访问时间 -->
		<result property="time24" column="V_TIME24" />
    </resultMap>

	<insert id="insert" parameterType="ArticleVisitModel" flushCache="true">
		INSERT INTO SYS_ARTICLE_VISITS(V_CID,V_UID,V_ADDR,V_LOCATION,V_AGENT) VALUES (#{cid},#{uid},#{addr},#{location},#{agent})
	</insert>
	
	<select id="getPagedList" resultMap="ArticleVisitMap" parameterType="java.lang.String" useCache="false">
		SELECT
			t.V_ID,
			t.V_CID,
			t.V_UID,
			(SELECT NVL(x.U_ALIAS, x.U_USERNAME) from SYS_AUTHZ_USER_LIST x where x.U_ID = t.V_UID) as V_UNAME,
			t.V_ADDR,
			t.V_LOCATION,
			t.V_AGENT,
			t.V_TIME24
		FROM SYS_ARTICLE_VISITS t
		<where>
			<if test="model.cid != null and model.cid != ''">
				and t.V_CID = #{model.cid}
			</if>
			<if test="model.uid != null and model.uid != ''">
				and t.V_UID = #{model.uid}
			</if>
		</where>
		ORDER By t.V_TIME24 ASC
	</select>
		
	<select id="getRowList" resultMap="ArticleVisitMap" parameterType="java.lang.String" useCache="false">
		SELECT
			t.V_ID,
			t.V_CID,
			t.V_UID,
			(SELECT NVL(x.U_ALIAS, x.U_USERNAME) from SYS_AUTHZ_USER_LIST x where x.U_ID = t.V_UID) as V_UNAME,
			t.V_ADDR,
			t.V_LOCATION,
			t.V_AGENT,
			t.V_TIME24
		FROM SYS_ARTICLE_VISITS t
	   WHERE t.V_CID = #{cid}
	ORDER By t.V_TIME24 ASC
	</select>

</mapper>
