<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.jeebiz.admin.extras.article.dao.IArticleAttachmentDao">

	<resultMap id="ArticleAttachmentMap" type="ArticleAttachmentModel">
        <!-- 文章附件ID -->
		<result property="id" column="A_ID" />
		<!-- 文章ID -->
		<result property="cid" column="A_CID" />
		<!-- 文章附件类型（1：标题图片，2：内容图片，3：文件普通附件） -->
		<result property="type" column="A_TYPE" />
		<!-- 文章附件名称 -->
		<result property="name" column="A_NAME" />
		<!-- 文章附件存储路径（相对地址） -->
		<result property="path" column="A_PATH" />
		<!-- 文章附件排序 -->
		<result property="order" column="A_ORDER" />
		<!-- 文章附件上传时间 -->
		<result property="time24" column="A_time24" />
    </resultMap>

	<insert id="insert" parameterType="ArticleAttachmentModel" flushCache="true">
		INSERT INTO SYS_ARTICLE_CONTENT_ATTS(A_CID,A_TYPE,A_NAME,A_PATH,A_ORDER)
		VALUES (#{cid},#{type},#{name},#{path},#{order})
	</insert>
	
	<delete id="batchDelete" flushCache="true">
		DELETE FROM SYS_ARTICLE_CONTENT_ATTS WHERE A_ID IN 
		<foreach collection="list" index="index" item="item" open="(" separator="," close=")">  
           #{item} 
        </foreach>
	</delete>
	
	<delete id="delete" flushCache="true">
		DELETE FROM SYS_ARTICLE_CONTENT_ATTS WHERE A_ID = #{id}
	</delete>
	
	<delete id="deleteAtt" flushCache="true">
		DELETE FROM SYS_ARTICLE_CONTENT_ATTS WHERE A_CID = #{cid}
	</delete>
	
	<update id="update" parameterType="ArticleAttachmentModel" flushCache="true">
		UPDATE SYS_ARTICLE_CONTENT_ATTS t 
		   SET A_NAME = #{name},
		   	   A_PATH = #{path},
		       A_ORDER = #{order}
		 WHERE A_ID = #{id}
	</update>
	
	<select id="getPagedList" resultMap="ArticleAttachmentMap" parameterType="java.lang.String" useCache="false">
		SELECT
			t.A_ID,
			t.A_CID,
			t.A_TYPE,
			t.A_NAME,
			t.A_PATH,
			t.A_ORDER,
			t.A_time24
		FROM SYS_ARTICLE_CONTENT_ATTS t
		<where>
			<if test="model.cid != null and model.cid != ''">
				and t.A_CID = #{model.cid}
			</if>
		</where>
		ORDER By t.A_ORDER ASC
	</select>
	
	<select id="getModel" resultMap="ArticleAttachmentMap" parameterType="java.lang.String" useCache="false">
		SELECT
			t.A_ID,
			t.A_CID,
			t.A_TYPE,
			t.A_NAME,
			t.A_PATH,
			t.A_ORDER,
			t.A_time24
		FROM SYS_ARTICLE_CONTENT_ATTS t
	   WHERE t.A_ID = #{id} 
	</select>
	
	<select id="getAttachmentList" resultMap="ArticleAttachmentMap" parameterType="java.lang.String" useCache="false">
		SELECT
			t.A_ID,
			t.A_CID,
			t.A_TYPE,
			t.A_NAME,
			t.A_PATH,
			t.A_ORDER,
			t.A_time24
		FROM SYS_ARTICLE_CONTENT_ATTS t
	   WHERE t.A_CID = #{cid} 
	</select>

</mapper>
