<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="net.jeebiz.admin.extras.inform.dao.InformTargetMapper" >

	<resultMap id="InformTargetMap" type="InformTargetEntity">
		<!-- 消息通知模板id -->
		<result property="tid" column="t_id" />
		<!-- 消息通知模板创建人id -->
		<result property="uid" column="t_uid" />
		<!-- 消息通知发送状态：（0:待发送、1:已发送） -->
		<result property="status" column="t_status" />
		<!-- 消息通知发送时间 -->
		<result property="createTime" column="create_time"/>
	</resultMap>

	<insert id="insert" parameterType="InformTargetEntity">
		insert into sys_inform_targets(t_id,t_uid,t_status) values(#{tid},#{uid},0)
	</insert>

	<delete id="deleteByTid">
		delete from sys_inform_targets where t_id = #{tid}
	</delete>

	<update id="setStatus" parameterType="java.lang.String" flushCache="true">
		UPDATE sys_inform_targets t
		   SET t.t_status = #{status}
		 WHERE t.t_id = #{id}
	</update>

</mapper>
