<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="io.hiwepy.admin.extras.dict.dao.DictMapper">
	
	<resultMap id="PairMap" type="PairModel">
		<result property="key" column="d_key" />
		<result property="value" column="d_text" />
	</resultMap>
	
	<select id="getPairValues" resultMap="PairMap" parameterType="java.lang.String" useCache="false">
		   SELECT t.d_key,t.d_text
			 FROM sys_data_pairvalue t
			WHERE t.d_group = #{key}
			  AND t.d_status = 1
		 ORDER By t.d_order ASC
	</select>

</mapper>