<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="net.jeebiz.admin.authz.feature.dao.IAuthzFeatureOptDao">
	
	<resultMap id="AuthzFeatureOptMap" type="AuthzFeatureOptModel">
		<result property="featureId" column="f_id" />
		<result property="id" column="opt_id" />
		<result property="name" column="opt_name" />
		<result property="icon" column="opt_icon" />
		<result property="orderBy" column="opt_order" />
		<result property="visible" column="opt_visible" />
		<result property="perms" column="opt_perms" />
	</resultMap>
	
	<insert id="insert" parameterType="AuthzFeatureOptModel" flushCache="true">
		insert into sys_authz_feature_opts(f_id,opt_name,opt_icon,opt_order,opt_visible,opt_perms)
		values(#{featureId},#{name},#{icon},#{order},#{visible},#{perms})
	</insert>
	
	<delete id="delete" parameterType="java.lang.String" flushCache="true">
		DELETE FROM sys_authz_feature_opts WHERE opt_id = #{id}
	</delete>
	
	<delete id="deleteByParent" parameterType="java.lang.String" flushCache="true">
		DELETE FROM sys_authz_feature_opts WHERE f_id = #{id}
	</delete>
	
	<update id="update" parameterType="AuthzFeatureOptModel" flushCache="true">
		update sys_authz_feature_opts t
		<set>
			<if test="name != null and name != ''">t.opt_name = #{name},</if>
			<if test="icon != null and icon != ''">t.opt_icon = #{icon},</if>
			<if test="order != null and order != ''">t.opt_order = #{order},</if>
			<if test="visible != null and visible != ''">t.opt_visible = #{visible},</if>
			<if test="perms != null and perms != ''">t.opt_perms = #{perms}</if>
		</set>
		where t.opt_id = #{id}
	</update>
	
	<select id="getOptCountByName" resultType="int" parameterType="java.lang.String" useCache="false">
		SELECT count(t.opt_id)
		  FROM sys_authz_feature_opts t
		 WHERE t.opt_name = #{name}
		   AND t.f_id = #{featureId}
		 <if test="optId != null and optId != ''">
			AND t.opt_id != #{optId}
		 </if>
	</select>
	
	<select id="getFeatureOpts" resultMap="AuthzFeatureOptMap" parameterType="java.lang.String" useCache="false">
		SELECT
			t.f_id,
			t.opt_id,
			t.opt_name,
			t.opt_icon,
			NVL(t.opt_order,'0') opt_order,
			t.opt_visible,
			t.opt_perms
		FROM sys_authz_feature_opts t
	</select>
	
	<select id="getFeatureOptList" resultMap="AuthzFeatureOptMap" parameterType="java.lang.String" useCache="false">
		SELECT
			t.f_id,
			t.opt_id,
			t.opt_name,
			t.opt_icon,
			NVL(t.opt_order,'0') opt_order,
			t.opt_visible,
			t.opt_perms
		FROM sys_authz_feature_opts t
	   <where>
			<if test="featureId != null and featureId != ''">
				and t.f_id = #{featureId}
			</if>
			<if test="visible != null and visible != ''">
				and t.opt_visible = #{visible}
			</if>
		</where>
	</select>
    
</mapper>