<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="net.jeebiz.admin.authz.feature.dao.IAuthzFeatureDao">
	
	<resultMap id="AuthzFeatureMap" type="AuthzFeatureModel">
		<result property="id" column="F_ID" />
		<result property="code" column="F_CODE" />
		<result property="name" column="F_NAME" />
		<result property="abb" column="F_ABB" />
		<result property="url" column="F_URL" />
		<result property="path" column="F_PATH" />
		<result property="type" column="F_TYPE" />
		<result property="icon" column="F_ICON" />
		<result property="order" column="F_ORDER" />
		<result property="parent" column="F_PARENT" />
		<result property="visible" column="F_VISIBLE" />
		<result property="root" column="F_ROOT" />
		<result property="perms" column="F_PERMS" />
	</resultMap>
	
	<insert id="insert" parameterType="AuthzFeatureModel" flushCache="true">
		insert into SYS_AUTHZ_FEATURE_LIST(F_CODE,F_NAME,F_ABB,F_URL,F_PATH,F_TYPE,F_ICON,F_ORDER,F_PARENT,F_VISIBLE)
		values(#{code},#{name},#{abb},#{url},#{path,jdbcType=VARCHAR},#{type},#{icon},#{order},#{parent,jdbcType=VARCHAR},'1')
	</insert>
	
	<delete id="delete" parameterType="java.lang.String" flushCache="true">
		DELETE FROM SYS_AUTHZ_FEATURE_LIST WHERE F_ID = #{id}
	</delete>
	
	<update id="update" parameterType="AuthzFeatureModel" flushCache="true">
		update SYS_AUTHZ_FEATURE_LIST t
		<set>
			<if test="name != null and name != ''">t.F_NAME = #{name},</if>
			<if test="abb != null and abb != ''">t.F_ABB = #{abb},</if>
			<if test="url != null and url != ''">t.F_URL = #{url},</if>
			<if test="path != null and path != ''">t.F_PATH = #{path},</if>
			<if test="icon != null and icon != ''">t.F_ICON = #{icon},</if>
			<if test="order != null and order != ''">t.F_ORDER = #{order},</if>
			<if test="visible != null and visible != ''">t.F_VISIBLE = #{visible}</if>
		</set>
		where t.F_ID = #{id}
	</update>
	
	<select id="getCountByParent" resultType="int" parameterType="java.lang.String" useCache="false">
		SELECT count(t.F_ID) 
		  FROM SYS_AUTHZ_FEATURE_LIST t 
		 WHERE t.F_PARENT = #{parent}
	</select>
	
	<select id="getCountByCode" resultType="int" parameterType="java.lang.String" useCache="false">
		SELECT count(t.F_ID) 
		  FROM SYS_AUTHZ_FEATURE_LIST t 
		 WHERE t.F_CODE = #{code}
		<if test="origin != null and origin != ''">
			AND t.F_ID != #{origin}
		 </if>
	</select>
	
	<select id="getModel" resultMap="AuthzFeatureMap" parameterType="java.lang.String" useCache="true">
		SELECT
			t.F_ID,
			t.F_CODE,
			t.F_NAME,
			t.F_ABB,
			t.F_URL,
			t.F_PATH,
			t.F_TYPE,
			t.F_ICON,
			t.F_ORDER,
			t.F_PARENT,
			t.F_VISIBLE,
			(CASE WHEN (t.F_PARENT = '#' OR t.F_PARENT = '0') THEN 1 ELSE 0 END) as F_ROOT,
			( SELECT GROUP_CONCAT(t1.OPT_PERMS) FROM SYS_AUTHZ_FEATURE_OPTS t1 WHERE t1.F_ID = t.F_ID) F_PERMS 
		FROM SYS_AUTHZ_FEATURE_LIST t
	   WHERE t.F_ID = #{id}
	</select>
	
	<select id="getFeatureList" resultMap="AuthzFeatureMap" parameterType="java.lang.String" useCache="true">
		SELECT
			t.F_ID,
			t.F_CODE,
			t.F_NAME,
			t.F_ABB,
			t.F_URL,
			t.F_PATH,
			t.F_TYPE,
			t.F_ICON,
			t.F_ORDER,
			t.F_PARENT,
			t.F_VISIBLE,
			(CASE WHEN (t.F_PARENT = '#' OR t.F_PARENT = '0') THEN 1 ELSE 0 END) as F_ROOT,
			( SELECT GROUP_CONCAT(t1.OPT_PERMS) FROM SYS_AUTHZ_FEATURE_OPTS t1 WHERE t1.F_ID = t.F_ID) F_PERMS
		FROM SYS_AUTHZ_FEATURE_LIST t
	</select>

	<select id="getPagedList" resultMap="AuthzFeatureMap" parameterType="AuthzFeatureModel" useCache="true">
		SELECT
			t.F_ID,
			t.F_CODE,
			t.F_NAME,
			t.F_ABB,
			t.F_URL,
			t.F_PATH,
			t.F_TYPE,
			t.F_ICON,
			t.F_ORDER,
			t.F_PARENT,
			t.F_VISIBLE 
		FROM SYS_AUTHZ_FEATURE_LIST t
		<where>
			<if test="model.name != null and model.name != ''">
				and t.F_NAME like CONCAT('%',#{model.name},'%')
			</if>
			<if test="model.type != null and model.type != ''">
				and t.F_TYPE = #{model.type}
			</if>
			<if test="model.visible != null and model.visible != ''">
				and t.F_VISIBLE = #{model.visible}
			</if>
		</where>
	</select>
	
</mapper>