<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.jeebiz.admin.extras.article.dao.ArticleAttachmentMapper">

	<resultMap id="ArticleAttachmentMap" type="ArticleAttachmentEntity">
        <!-- 文章附件id -->
		<result property="id" column="a_id" />
		<!-- 文章id -->
		<result property="cid" column="a_cid" />
		<!-- 文章附件类型（1：标题图片，2：内容图片，3：文件普通附件） -->
		<result property="type" column="a_type" />
		<!-- 文章附件名称 -->
		<result property="name" column="a_name" />
		<!-- 文章附件存储路径（相对地址） -->
		<result property="path" column="a_path" />
		<!-- 文章附件排序 -->
		<result property="order" column="a_order" />
		<!-- 文章附件上传时间 -->
		<result property="time24" column="a_time24" />
    </resultMap>
 
	<select id="getPagedList" resultMap="ArticleAttachmentMap" parameterType="java.lang.String" useCache="false">
		SELECT
			t.a_id,
			t.a_cid,
			t.a_type,
			t.a_name,
			t.a_path,
			t.a_order,
			t.a_time24
		FROM sys_article_content_atts t
		<where>
			<if test="model.cid != null and model.cid != ''">
				and t.a_cid = #{model.cid}
			</if>
		</where>
		ORDER By t.a_order ASC
	</select>

</mapper>
