<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.jeebiz.admin.extras.article.dao.ArticleTopicMapper">

	<resultMap id="ArticleTopicMap" type="ArticleTopicEntity">
        <!-- 文章栏目id -->
		<result property="id" column="t_id" />
		<!-- 上级文章栏目id -->
		<result property="pid" column="t_pid" />
		<!-- 上级文章栏目 -->
		<result property="pname" column="t_pname" />
		<!-- 文章栏目创建者id -->
		<result property="uid" column="t_uid" />
		<!-- 文章栏目创建者姓名 -->
		<result property="uname" column="t_uname" />
		<!-- 文章分类id -->
		<result property="cid" column="t_cid" />
		<!-- 文章分类名称 -->
		<result property="cname" column="t_cname" />
		<!-- 文章栏目名称 -->
		<result property="name" column="t_name" />
		<!-- 文章栏目备注 -->
		<result property="remark" column="t_remark" />
		<!-- 文章栏目状态（0:禁用|1:可用） -->
		<result property="status" column="t_status" />
		<!-- 文章栏目排序 -->
		<result property="order" column="t_order" />
		<!-- 文章栏目创建时间 -->
		<result property="time24" column="t_time24" />
    </resultMap>
	
    <resultMap id="PairMap" type="PairModel">
        <result property="key" column="t_id"/>
        <result property="value" column="t_name"/>
    </resultMap>
	 	
	<select id="getCountByName" resultType="int" parameterType="java.lang.String" useCache="false">
		SELECT count(t.t_id)
		  FROM sys_article_topic t
		 WHERE t.t_name = #{name}
		<if test="origin != null and origin != ''">
			AND t.t_id != #{origin}
		 </if>
	</select>
	
	<select id="getPagedList" resultMap="ArticleTopicMap" parameterType="java.lang.String" useCache="false">
		SELECT
			t.t_id,
			NVL(t.t_pid,'0') as t_pid,
			NVL((SELECT x.t_name from sys_article_topic x WHERE x.t_id = t.t_pid),'顶级') as t_pname,
			t.t_uid,
			(SELECT NVL(x.u_alias, x.u_username) from sys_authz_user_list x where x.u_id = t.t_uid) as t_uname,
			t.t_name,
			t.t_remark,
			t.t_cid,
			(SELECT x.c_name from sys_article_category x where x.c_id = t.t_cid) as t_cname,
			t.t_status,
			t.t_order,
			t.t_time24
		FROM sys_article_topic t
		<where>
			<if test="model.status != null and model.status != ''">
				and t.t_status = #{model.status}
			</if>
			<if test="model.keywords != null and model.keywords != ''">
				and t.t_name like '%'|| #{model.keywords} ||'%'
			</if>
		</where>
		ORDER By t.t_order ASC
	</select>
	
	<select id="getModel" resultMap="ArticleTopicMap" parameterType="java.lang.String" useCache="false">
		SELECT
			t.t_id,
			NVL(t.t_pid,'0') as t_pid,
			NVL((SELECT x.t_name from sys_article_topic x WHERE x.t_id = t.t_pid),'顶级') as t_pname,
			t.t_uid,
			(SELECT NVL(x.u_alias, x.u_username) from sys_authz_user_list x where x.u_id = t.t_uid) as t_uname,
			t.t_name,
			t.t_remark,
			t.t_cid,
			(SELECT x.c_name from sys_article_category x where x.c_id = t.t_cid) as t_cname,
			t.t_status,
			t.t_order,
			t.t_time24
		FROM sys_article_topic t
	   WHERE t.t_id = #{id}
	</select>

    <select id="getTopics" resultMap="ArticleTopicMap" useCache="false">
        SELECT
			t.t_id,
			NVL(t.t_pid,'0') as t_pid,
			NVL((SELECT x.t_name from sys_article_topic x WHERE x.t_id = t.t_pid),'顶级') as t_pname,
			t.t_uid,
			(SELECT NVL(x.u_alias, x.u_username) from sys_authz_user_list x where x.u_id = t.t_uid) as t_uname,
			t.t_name,
			t.t_remark,
			t.t_cid,
			(SELECT x.c_name from sys_article_category x where x.c_id = t.t_cid) as t_cname,
			t.t_status,
			t.t_order,
			t.t_time24
	   FROM sys_article_topic t
	  WHERE t.t_status != 0
	  START WITH t.t_pid = 0 CONNECT BY t.t_pid = PRIOR t.t_id
    </select>
    
    <select id="getPairList" resultMap="PairMap" parameterType="java.lang.String" useCache="false">
	  SELECT t.t_id,
	         t.t_name
		FROM sys_article_topic t
	   WHERE t.t_status != 0
	   ORDER BY t.t_order ASC
	</select>

</mapper>
