<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.hiwepy.admin.extras.article.dao.ArticleTagMapper">

	<resultMap id="ArticleTagMap" type="ArticleTagEntity">
        <!-- 文章标签id -->
		<result property="id" column="t_id" />
		<!-- 文章id -->
		<result property="cid" column="t_cid" />
		<!-- 文章标签名称 -->
		<result property="name" column="t_name" />
		<!-- 文章标签设置时间 -->
		<result property="time24" column="t_time24" />
    </resultMap>

</mapper>
