<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.jeebiz.admin.extras.article.dao.ArticleVisitMapper">

	<resultMap id="ArticleVisitMap" type="ArticleVisitEntity">
        <!-- 文章访问id -->
		<result property="id" column="v_id" />
		<!-- 文章id -->
		<result property="cid" column="v_cid" />
		<!-- 文章访问者id -->
		<result property="uid" column="v_uid" />
		<!-- 文章访问者姓名 -->
		<result property="uname" column="v_uname" />
		<!-- 访问来源IP -->
		<result property="addr" column="v_addr" />
		<!-- 访问来源地址 -->
		<result property="location" column="v_location" />
		<!-- 访问来源User-Agent -->
		<result property="agent" column="v_agent" />
		<!-- 文章访问时间 -->
		<result property="time24" column="v_time24" />
    </resultMap>

	<select id="getPagedList" resultMap="ArticleVisitMap" parameterType="java.lang.String" useCache="false">
		SELECT
			t.v_id,
			t.v_cid,
			t.v_uid,
			(SELECT NVL(x.u_alias, x.u_account) from sys_authz_user_account x where x.u_id = t.v_uid) as v_uname,
			t.v_addr,
			t.v_location,
			t.v_agent,
			t.v_time24
		FROM sys_article_visits t
		<where>
			<if test="model.cid != null and model.cid != ''">
				and t.v_cid = #{model.cid}
			</if>
			<if test="model.uid != null and model.uid != ''">
				and t.v_uid = #{model.uid}
			</if>
		</where>
		ORDER By t.v_time24 ASC
	</select>

	<select id="getRowList" resultMap="ArticleVisitMap" parameterType="java.lang.String" useCache="false">
		SELECT
			t.v_id,
			t.v_cid,
			t.v_uid,
			(SELECT NVL(x.u_alias, x.u_account) from sys_authz_user_account x where x.u_id = t.v_uid) as v_uname,
			t.v_addr,
			t.v_location,
			t.v_agent,
			t.v_time24
		FROM sys_article_visits t
	   WHERE t.v_cid = #{cid}
	ORDER By t.v_time24 ASC
	</select>

</mapper>
