<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="net.jeebiz.admin.extras.inform.dao.IInformRecordDao" >

	<resultMap id="InformRecordMap" type="InformRecordModel">
		<!-- 消息通知记录id -->
		<id property="id" column="r_id" />
		<!-- 消息通知发送人id -->
		<result property="uid" column="R_Uid" />
		<!-- 消息通知发送人 -->
		<result property="uname" column="R_Uname" />
		<!-- 消息通知的发送提供者 -->
		<result property="provider" column="R_PROVidER" />
		<!-- 消息通知标签（自定义的通知标签，用于判断逻辑，如：1：信息通知、2：发起审批、3：审批通过、4：审批拒绝） -->
		<result property="tag" column="R_TAG" />
		<!-- 消息通知接收人id -->
		<result property="toUid" column="R_TO" />
		<!-- 消息通知接收人 -->
		<result property="toUname" column="R_TO_Uname" />
		<!-- 消息通知标题（变量处理后的标题） -->
		<result property="title" column="R_TITLE" />
		<!-- 消息通知内容（变量处理后的内容） -->
		<result property="content" column="R_CONTENT" />
		<!-- 消息通知模板id（系统内信息模板、微信订阅消息等模板id） -->
		<result property="tid" column="R_Tid" />
		<!-- 通知信息关联数据载体,JOSN格式的数据 -->
		<result property="payload" column="R_PAYLOAD" />
		<!-- 消息通知阅读状态：（0:未阅读、1:已阅读） -->
		<result property="status" column="r_status" />
		<!-- 消息通知创建时间 -->
		<result property="time24" column="time24"/>
	</resultMap>
	
	<resultMap id="InformStatsMap" type="net.jeebiz.admin.extras.inform.web.dto.InformRecordStatsDTO">
		<!-- 消息通知的发送提供者 -->
		<result property="provider" column="R_PROVidER" />
		<!-- 该类型通知总数 -->
		<result property="total" column="R_TOTAL" />
		<!-- 该类型未读通知总数 -->
		<result property="unread" column="R_UNREAD" />
	</resultMap>
	
	<insert id="insert" parameterType="InformRecordModel">
		insert into SYS_INFORM_RECORDS(R_Uid,R_PROVidER,R_TAG,R_TO,R_TITLE,R_CONTENT,R_Tid,R_PAYLOAD,r_status)
		values(#{uid},#{provider},#{tag,jdbcType=VARCHAR},#{toUid},#{title},#{content,jdbcType=VARCHAR},#{tid,jdbcType=VARCHAR},#{payload,jdbcType=VARCHAR},0)
	</insert>
	
	<delete id="deleteByTid">
		delete from SYS_INFORM_RECORDS where R_Tid = #{tid}
	</delete>
	
	<delete id="deleteByUid">
		delete from SYS_INFORM_RECORDS where R_TO = #{toUid}
		<if test="ids != null">
		<foreach collection="ids" item="id" open=" AND (" separator=" OR " close=")" >
			r_id = #{id}
		</foreach>
		</if>
	</delete>
	
	<update id="update" parameterType="InformRecordModel">
		UPDATE SYS_INFORM_RECORDS t 
		   SET t.r_status = #{status}
		 WHERE t.R_TO = #{toUid}
		 <if test="ids != null">
			 <foreach collection="ids" item="item" open=" AND (" separator=" OR " close=")" >
				t.r_id = #{item}
			 </foreach>
		 </if>
	</update>
	
	<select id="getCount" resultType="Integer" parameterType="InformRecordModel">
		SELECT NVL(COUNT(t.r_id), 0) COUNT
		FROM SYS_INFORM_RECORDS t
		WHERE t.R_TO = #{toUid}
		  AND t.r_status = 0
	</select>
	
	<select id="getPagedList" resultMap="InformRecordMap" >
		SELECT t.r_id,
			   t.R_Uid,
			   (SELECT NVL(x.u_alias,x.u_username) FROM sys_authz_user_list x WHERE x.u_id = t.R_Uid) as R_Uname,
		   	   t.R_PROVidER,
		   	   t.R_TAG,
			   t.R_TITLE,
			   t.R_CONTENT,
			   t.R_Tid,
			   t.R_TO,
			   (SELECT IFNULL(x.u_alias,x.u_username) FROM sys_authz_user_list x WHERE x.u_id = t.R_TO) as R_TO_Uname,
			   t.R_PAYLOAD,
			   t.r_status,
			   t.time24
		  FROM SYS_INFORM_RECORDS t
	   <where>
		   <if test="model.toUid != null and model.toUid != '' ">
				AND t.R_TO = #{model.toUid}
			</if>
			<if test="model.provider != null and model.provider != '' ">
				AND t.T_PROVidER = #{model.provider}
			</if>
			<if test="model.status != null and model.status != '' ">
				AND t.r_status = #{model.status}
			</if>
			<if test="model.keywords != null and model.keywords != '' ">
				AND t.R_TITLE like '%'|| #{model.keywords} ||'%'
			</if>
	   </where>
		ORDER BY t.time24 DESC
	</select>
	
	<select id="getModel" resultMap="InformRecordMap" parameterType="String" >
		SELECT t.r_id,
			   t.R_Uid,
			   (SELECT NVL(x.u_alias,x.u_username) FROM sys_authz_user_list x WHERE x.u_id = t.R_Uid) as R_Uname,
		   	   t.R_PROVidER,
		   	   t.R_TAG,
			   t.R_TITLE,
			   t.R_CONTENT,
			   t.R_Tid,
			   t.R_TO,
			   (SELECT IFNULL(x.u_alias,x.u_username) FROM sys_authz_user_list x WHERE x.u_id = t.R_TO) as R_TO_Uname,
			   t.R_PAYLOAD,
			   t.r_status,
			   t.time24
		  FROM SYS_INFORM_RECORDS t
	     WHERE t.r_id = #{id}
	</select>
	
	<select id="getStats" resultMap="InformRecordStatsMap">
		SELECT t.R_PROVidER,
			   COUNT( t.r_id ) as R_TOTAL,
		   	   SUM( CASE WHEN t.r_status = '0' THEN 1 ELSE 0 END ) as R_UNREAD
		FROM SYS_INFORM_RECORDS t
	   WHERE t.R_TO = #{toUid}
	   GROUP BY t.R_PROVidER
	</select>
	
</mapper>