<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="net.jeebiz.admin.extras.cnarea.dao.IChinaAreaDao">
	
	<!-- 开启二级缓存 -->
	<cache type="net.oschina.j2cache.mybatis.J2CacheAdapter" />
	
	<resultMap id="ChinaAreaMap" type="net.jeebiz.admin.extras.cnarea.web.dto.ChinaAreaDTO">
		<result property="id" column="ID" />
		<!-- 层级 -->
		<result property="level" column="LEVEL" />
		<!-- 父级行政代码 -->
		<result property="parent_code" column="PARENT_CODE" />
		<!-- 行政代码 -->
		<result property="area_code" column="AREA_CODE" />
		<!-- 邮政编码 -->
		<result property="zip_code" column="ZIP_CODE" />
		<!-- 区号 -->
		<result property="city_code" column="CITY_CODE" />
		<!-- 名称 -->
		<result property="name" column="NAME" />
		<!-- 简称 -->
		<result property="sname" column="SHORT_NAME" />
		<!-- 组合名 -->
		<result property="mname" column="MERGEr_name" />
		<!-- 拼音 -->
		<result property="pinyin" column="PINYIN" />
		<!-- 经度 -->
		<result property="lng" column="LNG" />
		<!-- 纬度 -->
		<result property="lat" column="LAT" />
	</resultMap>
	
	<resultMap id="CityPairMap" type="net.jeebiz.boot.api.dao.entities.BaseMap">
		<!-- 行政地区名称 -->
		<result property="name" column="NAME" />
		<!-- 行政代码 -->
		<result property="code" column="AREA_CODE" />
		<!-- 上级行政代码 -->
		<result property="pcode" column="PARENT_CODE" />
	</resultMap>
	
	<resultMap id="AreaPairMap" type="net.jeebiz.admin.extras.cnarea.web.dto.ChinaAreaPairDTO">
		<!-- 名称 -->
		<result property="name" column="NAME" />
		<!-- 行政代码 -->
		<result property="value" column="AREA_CODE" />
	</resultMap>
	
	<select id="getChinaPairList" resultMap="CityPairMap" useCache="false">
	   SELECT t.AREA_CODE, t.PARENT_CODE, t.NAME
		 FROM cnarea_2019 t 
	    WHERE t.LEVEL = 0 OR t.LEVEL = 1 OR t.LEVEL = 2
	 ORDER By t.AREA_CODE ASC
	</select>
	
	<select id="getChinaProvPairList" resultMap="AreaPairMap">
	   SELECT t.AREA_CODE, t.NAME
		 FROM cnarea_2019 t 
	    WHERE t.LEVEL = 0
	 ORDER By t.AREA_CODE ASC
	</select>
	
	<select id="getChinaAreaPairList" resultMap="AreaPairMap">
	   SELECT t.AREA_CODE, t.NAME
		 FROM cnarea_2019 t 
	    WHERE t.PARENT_CODE = #{pcode}
	 ORDER By t.AREA_CODE ASC
	</select>
	
	<select id="getChinaProvList" resultMap="ChinaAreaMap">
	   SELECT t.ID,
	   		  t.LEVEL,
	   		  t.PARENT_CODE,
	   		  t.AREA_CODE,
	   		  t.ZIP_CODE,
	   		  t.CITY_CODE,
	   		  t.NAME,
	   		  t.SHORT_NAME,
	   		  t.MERGEr_name,
	   		  t.PINYIN,
	   		  t.LNG,
	   		  t.LAT
		 FROM cnarea_2019 t 
	    WHERE t.LEVEL = 0
	 ORDER By t.AREA_CODE ASC
	</select>
	
	<select id="getChinaAreaList" resultMap="ChinaAreaMap">
	   SELECT t.ID,
	   		  t.LEVEL,
	   		  t.PARENT_CODE,
	   		  t.AREA_CODE,
	   		  t.ZIP_CODE,
	   		  t.CITY_CODE,
	   		  t.NAME,
	   		  t.SHORT_NAME,
	   		  t.MERGEr_name,
	   		  t.PINYIN,
	   		  t.LNG,
	   		  t.LAT
		 FROM cnarea_2019 t 
	    WHERE t.PARENT_CODE = #{pcode} 
	 ORDER By t.AREA_CODE ASC
	</select>
	
	<select id="getChinaArea" resultMap="ChinaAreaMap">
	   SELECT t.ID,
	   		  t.LEVEL,
	   		  t.PARENT_CODE,
	   		  t.AREA_CODE,
	   		  t.ZIP_CODE,
	   		  t.CITY_CODE,
	   		  t.NAME,
	   		  t.SHORT_NAME,
	   		  t.MERGEr_name,
	   		  t.PINYIN,
	   		  t.LNG,
	   		  t.LAT
		 FROM cnarea_2019 t 
	    WHERE t.LEVEL = #{level}
	      AND t.SHORT_NAME = #{name}
	      AND ROWNUM = 1
	</select>

</mapper>