<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="io.hiwepy.admin.extras.settings.dao.SettingsMapper" >
	
	<resultMap id="SettingsMap" type="SettingsModel">
		<result property="id" column="d_id" />
		<result property="gkey" column="d_group" />
		<result property="label" column="d_label" />
		<result property="key" column="d_key" />
		<result property="value" column="d_text" />
		<result property="unit" column="d_unit" />
		<result property="type" column="d_type" />
		<result property="rules" column="d_rules" />
		<result property="remark" column="d_remark" />
		<result property="placeholder" column="d_placeholder" />
		<result property="source" column="d_source" />
		<result property="status" column="d_status" />
		<result property="orderBy" column="d_order" />
	</resultMap>
	
	<resultMap id="PairMap" type="PairModel">
		<result property="key" column="d_key" />
		<result property="value" column="d_text" />
	</resultMap>
	
	<select id="getModelList" resultMap="SettingsMap" parameterType="java.lang.String" useCache="true">
		SELECT
			t.d_id,
			t.d_group,
			t.d_label,
			t.d_key,
			t.d_text,
			t.d_unit,
			t.d_type,
			t.d_rules,
			t.d_remark,
			t.d_placeholder,
			t.d_source,
			t.d_status,
			t.d_order
		FROM sys_data_settings t
		WHERE t.d_group = #{gkey}
		ORDER By t.d_order ASC
	</select>
	
	<select id="getPairValues" resultMap="PairMap" parameterType="java.lang.String" useCache="true">
		SELECT t.d_key,t.d_text
		FROM sys_data_settings t
		WHERE t.d_group = #{gkey}
		  and t.d_status = 1
	</select>
	
	<update id="update" parameterType="SettingsModel" flushCache="true">
		UPDATE sys_data_settings t
		<set>
			<if test="label != null and label != ''">t.d_label = #{label},</if>
			<if test="value != null and value != ''">t.d_text = #{value},</if>
			<if test="unit != null and unit != ''">t.d_unit = #{unit},</if>
			<if test="type != null and type != ''">t.d_type = #{type},</if>
			<if test="rules != null and rules != ''">t.d_rules = #{rules},</if>
			<if test="remark != null and remark != ''">t.d_remark = #{remark},</if>
			<if test="placeholder != null and placeholder != ''">t.d_placeholder = #{placeholder},</if>
			<if test="source != null and source != ''">t.d_source = #{source},</if>
			<if test="status != null and status != ''">t.d_status = #{status},</if>
			<if test="orderBy != null and orderBy != ''">t.d_order = #{orderBy}</if>
		</set>
		 WHERE t.d_id = #{id}
	</update>
	
	<update id="batchUpdate" flushCache="true">
    	<foreach collection="list" index="index" item="item" open="" separator=";" close="">  
            update sys_data_settings
            <set>
				<if test="item.label != null and item.label != ''">t.d_label = #{item.label},</if>
				<if test="item.value != null and item.value != ''">t.d_text = #{item.value},</if>
				<if test="item.unit != null and item.unit != ''">t.d_unit = #{item.unit},</if>
				<if test="item.type != null and item.type != ''">t.d_type = #{item.type},</if>
				<if test="item.rules != null and item.rules != ''">t.d_rules = #{item.rules},</if>
				<if test="item.remark != null and item.remark != ''">t.d_remark = #{item.remark},</if>
				<if test="item.placeholder != null and item.placeholder != ''">t.d_placeholder = #{item.placeholder},</if>
				<if test="item.source != null and item.source != ''">t.d_source = #{item.source},</if>
				<if test="item.status != null and item.status != ''">t.d_status = #{item.status},</if>
				<if test="item.orderBy != null and item.orderBy != ''">t.d_order = #{item.orderBy}</if>
			</set>
           WHERE d_id = #{item.id}
		     AND d_group = #{item.gkey}
        </foreach>
    </update>
		
</mapper>