<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="io.hiwepy.admin.shadow.dao.CommonMapper">
	
	<select id="getNow" resultType="Long" useCache="false">
		select unix_timestamp(now())
    </select>

	<select id="getNowMillis" resultType="Long" useCache="false">
		select replace(unix_timestamp(current_timestamp(3)),'.','')
	</select>

	<select id="getNowString" resultType="string" useCache="false">
		SELECT FROM_UNIXTIME(unix_timestamp(now()), '%Y-%m-%d %H:%i:%S')
	</select>

</mapper>