<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="io.hiwepy.admin.authz.org.dao.AuthzPostMapper">

	<resultMap id="AuthzPostMap" type="AuthzPostModel">
		<id property="id" column="post_id" />
		<result property="orgId" column="org_id" />
		<result property="orgName" column="org_name" />
		<result property="deptId" column="dept_id" />
		<result property="deptName" column="dept_name" />
		<result property="code" column="post_code" />
		<result property="name" column="post_name" />
		<result property="intro" column="post_intro" />
		<result property="uid" column="post_uid" />
		<result property="status" column="post_status" />
		<result property="time24" column="time24" />
	</resultMap>

	<resultMap id="PairMap" type="PairModel">
		<result property="key" column="post_id" />
		<result property="value" column="post_name" />
	</resultMap>

	<update id="setStatus" parameterType="java.lang.String" flushCache="true">
		UPDATE sys_authz_org_post t
		   SET post_status = #{status}
		 WHERE post_id = #{id}
	</update>

	<select id="getCountByCode" resultType="java.lang.Long" parameterType="java.lang.String" useCache="false">
		SELECT count(t.post_id)
		  FROM sys_authz_org_post t
		 WHERE t.post_code = #{code}
		<if test="origin != null and origin != ''">
			AND t.post_id != #{origin}
		 </if>
	</select>

	<select id="getCountByName" resultType="java.lang.Long" parameterType="java.lang.String" useCache="false">
		SELECT count(t.post_id)
		  FROM sys_authz_org_post t
		 WHERE t.post_name = #{name}
		 <if test="origin != null and origin != ''">
			AND t.post_id != #{origin}
		 </if>
	</select>

	<select id="getPagedList" resultMap="AuthzPostMap" parameterType="AuthzPostModel" useCache="false">
		SELECT
			t2.org_id,
			(select x.org_name from sys_authz_org_list x where x.org_id = t2.org_id) as org_name,
			t.dept_id,
			t2.dept_name,
			t.post_id,
			t.post_code,
			t.post_name,
			t.post_intro,
			t.post_uid,
			t.post_status,
			t.time24
		FROM sys_authz_org_post t inner join sys_authz_org_dept t2 on t2.dept_id = t.dept_id
		<where>
			<if test="model.orgId != null and model.orgId != ''">
				and t2.org_id = #{model.orgId}
			</if>
			<if test="model.deptId != null and model.deptId != ''">
				and t.dept_id = #{model.deptId}
			</if>
			<if test="model.name != null and model.name != ''">
				and t.post_name like CONCAT('%',#{model.name},'%')
			</if>
		</where>
		ORDER By t.time24 ASC
	</select>

	<select id="getModel" resultMap="AuthzPostMap" parameterType="java.lang.String" useCache="true">
		SELECT
			t2.org_id,
			(select x.org_name from sys_authz_org_list x where x.org_id = t2.org_id) as org_name,
			t.dept_id,
			t2.dept_name,
			t.post_id,
			t.post_code,
			t.post_name,
			t.post_intro,
			t.post_uid,
			t.post_status,
			t.time24
		FROM sys_authz_org_post t inner join sys_authz_org_dept t2 on t2.dept_id = t.dept_id
	   WHERE t.post_id = #{id}
	</select>

	<select id="getModelList" resultMap="AuthzPostMap" parameterType="java.lang.String" useCache="false">
		SELECT
			t2.org_id,
			(select x.org_name from sys_authz_org_list x where x.org_id = t2.org_id) as org_name,
			t.dept_id,
			t2.dept_name,
			t.post_id,
			t.post_code,
			t.post_name,
			t.post_intro,
			t.post_uid,
			t.post_status,
			t.time24
		FROM sys_authz_org_post t inner join sys_authz_org_dept t2 on t2.dept_id = t.dept_id
		<if test="key != null and key != ''">
			WHERE t.post_id = #{key}
		</if>
	</select>

	<select id="getPairValues" resultMap="PairMap" parameterType="java.lang.String" useCache="true">
	   SELECT t.post_id,t.post_name
		 FROM sys_authz_org_post t
		WHERE t.post_status = 1
		<if test="key != null and key != ''">
			AND t.dept_id = #{key}
		</if>
	</select>

</mapper>
