<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.kding.cloud.extras.activation.dao.IDeviceBindDao" >
 
  	<resultMap id="BaseResultMap" type="DeviceBindModel" >
	    <result column="ID" property="id" jdbcType="BIGINT" />
	    <result column="ACTIVATED_ID" property="activatedId" jdbcType="VARCHAR" />
	    <result column="APP_ID" property="appId" jdbcType="VARCHAR" />
	    <result column="APP_CHANNEL" property="appChannel" jdbcType="VARCHAR" />
	    <result column="APP_VERSION" property="appVersion" jdbcType="VARCHAR" />
	    <result column="CREATOR" property="creator" jdbcType="BIGINT" />
	    <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
	    <result column="MODIFYER" property="modifyer" jdbcType="BIGINT" />
	    <result column="MODIFY_TIME" property="modifyTime" jdbcType="TIMESTAMP" />
	    <result column="IS_DELETE" property="isDelete" jdbcType="TINYINT" />
  	</resultMap>
	
	<!--通过设备唯一标识查询主键id -->
	<select id="getIdByDeviceIMEI" resultType="java.lang.Long">
		select t.ID, t.APP_ID, t.APP_CHANNEL, t.APP_VERSION, t.DEVICE_IMEI, t.DEVICE_MODEL, t.CREATOR, t.CREATE_TIME, t.MODIFYER, t.MODIFY_TIME, t.IS_DELETE 
		  from KDING_DEVICE_ACTIVATE t
		 where t.DEVICE_IMEI = #{deviceIMEI}
	</select>
	
</mapper>