<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="net.jeebiz.admin.extras.dict.dao.IKeyGroupDao" >
	
	<resultMap id="KeyGroupMap" type="KeyGroupModel">
		<result property="id" column="G_ID" />
		<result property="key" column="G_KEY" />
		<result property="value" column="G_TEXT" />
		<result property="status" column="G_STATUS" />
		<result property="order" column="G_ORDER" />
	</resultMap>
	
	<resultMap id="PairMap" type="PairModel">
		<result property="key" column="G_KEY" />
		<result property="value" column="G_TEXT" />
	</resultMap>
	
	<insert id="insert" parameterType="KeyGroupModel" flushCache="true">
		insert into SYS_DATA_PAIRGROUP(G_KEY,G_TEXT,G_STATUS,G_ORDER)
		values(#{key},#{value},#{status},#{order})
	</insert>
	
	<delete id="batchDelete" flushCache="true">
		DELETE FROM SYS_DATA_PAIRGROUP WHERE G_ID IN 
		<foreach collection="list" index="index" item="item" open="(" separator="," close=")">  
           #{item} 
        </foreach>
	</delete>
	
	<update id="setStatus" parameterType="java.lang.String" flushCache="true">
		UPDATE SYS_DATA_PAIRGROUP t 
		   SET G_STATUS = #{status}
		 WHERE G_ID = #{id}
	</update>
	
	<update id="update" parameterType="KeyGroupModel" flushCache="true">
		UPDATE SYS_DATA_PAIRGROUP t 
		   SET G_TEXT = #{value},
		       G_STATUS = #{status}
		 WHERE G_ID = #{id}
	</update>
	
	<update id="batchUpdate" flushCache="true">
    	<foreach collection="list" index="index" item="item" open="" separator=";" close="">  
            update SYS_DATA_PAIRGROUP 
               set G_TEXT = #{item.value},
               	   G_STATUS = #{item.status}
           WHERE G_ID = #{item.id} 
        </foreach>
    </update>
    
	<select id="getPagedList" resultMap="KeyGroupMap" parameterType="java.lang.String" useCache="false">
		SELECT
			t.G_ID,
			t.G_KEY,
			t.G_TEXT,
			t.G_STATUS,
			t.G_ORDER
		FROM SYS_DATA_PAIRGROUP t
		<where>
			<if test="model.value != null and model.value != ''">
				and t.G_TEXT like '%'||#{model.value}||'%'
			</if>
		</where>
		ORDER By t.G_ORDER ASC
	</select>
	
	<select id="getModel" resultMap="KeyGroupMap" parameterType="java.lang.String" useCache="false">
		SELECT
			t.G_ID,
			t.G_KEY,
			t.G_TEXT,
			t.G_STATUS,
			t.G_ORDER
		FROM SYS_DATA_PAIRGROUP t
		WHERE t.G_ID = #{id} 
	</select>
	
	<select id="getKeyGroupList" resultMap="KeyGroupMap" parameterType="java.lang.String" useCache="false">
		SELECT
			t.G_ID,
			t.G_KEY,
			t.G_TEXT,
			t.G_STATUS,
			t.G_ORDER
		FROM SYS_DATA_PAIRGROUP t
		ORDER By t.G_ORDER ASC
	</select>
	
	<select id="getPairList" resultMap="PairMap" useCache="false">
		SELECT t.G_KEY,t.G_TEXT
		FROM SYS_DATA_PAIRGROUP t 
		WHERE t.G_STATUS = 1
	</select>
	
	<select id="getPairValues" resultMap="PairMap" useCache="false">
		SELECT t.G_KEY,t.G_TEXT
		FROM SYS_DATA_PAIRGROUP t 
		WHERE t.G_STATUS = 1
	</select>
	
    <select id="getCountByCode" resultType="int" parameterType="java.lang.String" useCache="false">
		SELECT COUNT(1) 
		  FROM SYS_DATA_PAIRGROUP t 
		 WHERE t.G_KEY = #{code}
		 <if test="origin != null and origin != ''">
			AND t.G_ID != #{origin}
		 </if>
		 AND ROWNUM = 1
	</select>
	
	<select id="getCountByName" resultType="int" parameterType="java.lang.String" useCache="false">
		SELECT COUNT(1) 
		  FROM SYS_DATA_PAIRGROUP t 
		 WHERE t.G_TEXT = #{name}
		 <if test="origin != null and origin != ''">
			AND t.G_ID != #{origin}
		 </if>
		 AND ROWNUM = 1
	</select>
    
		
</mapper>