<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="net.jeebiz.admin.extras.dict.dao.IKeyValueDao" >
	
	<resultMap id="KeyValueMap" type="KeyValueModel">
		<result property="id" column="d_id" />
		<result property="gkey" column="d_group_KEY" />
		<result property="gtext" column="d_group_TEXT" />
		<result property="label" column="d_label" />
		<result property="key" column="d_key" />
		<result property="value" column="D_VALUE" />
		<result property="text" column="D_TEXT" />
		<result property="status" column="d_status" />
		<result property="order" column="d_order" />
	</resultMap>
	
	<resultMap id="PairMap" type="PairModel">
		<result property="key" column="d_key" />
		<result property="value" column="D_VALUE" />
	</resultMap>
	
	<insert id="insert" parameterType="KeyValueModel" flushCache="true">
		insert into SYS_DATA_PAIRVALUE(d_group,d_label,d_key,D_VALUE,D_TEXT,d_status,d_order)
		values(#{gkey},#{label},#{key},#{value},#{text,jdbcType=VARCHAR},#{status},#{order})
	</insert>
	
	<delete id="batchDelete" flushCache="true">
		DELETE FROM SYS_DATA_PAIRVALUE WHERE d_id IN
		<foreach collection="list" index="index" item="item" open="(" separator="," close=")">  
           #{item} 
        </foreach>
	</delete>
	
	<update id="setStatus" parameterType="java.lang.String" flushCache="true">
		UPDATE SYS_DATA_PAIRVALUE t 
		   SET d_status = #{status}
		 WHERE d_id = #{id}
	</update>
	
	<update id="update" parameterType="KeyValueModel" flushCache="true">
		UPDATE SYS_DATA_PAIRVALUE t 
		   SET d_label = #{label},
		   	   D_VALUE = #{value},
		   	   D_TEXT = #{text,jdbcType=VARCHAR},
		       d_status = #{status},
		       d_order = #{order}
		 WHERE d_id = #{id}
	</update>
	
	<update id="batchUpdate" flushCache="true">
    	declare
      	begin
    	<foreach collection="list" index="index" item="item" open="" separator=";" close=";">  
            update SYS_DATA_PAIRVALUE 
               set d_label = #{item.label},
                   D_VALUE = #{item.value},,
               	   D_TEXT = #{item.text,jdbcType=VARCHAR},
               	   d_status = #{item.status},
		       	   d_order = #{item.order}
             WHERE d_id = #{item.id}
               AND d_group = #{item.gkey}
        </foreach>
        end;
    </update>
	
	<select id="getPagedList" resultMap="KeyValueMap" parameterType="java.lang.String" useCache="false">
		SELECT
			t.d_id,
			t.d_group as d_group_KEY,
			(SELECT x.G_TEXT FROM SYS_DATA_PAIRGROUP x WHERE x.G_KEY = t.d_group) as d_group_TEXT,
			t.d_label,
			t.d_key,
			t.D_VALUE,
			t.D_TEXT,
			t.d_status,
			t.d_order
		FROM SYS_DATA_PAIRVALUE t
		<where>
			<if test="model.gkey != null and model.gkey != ''">
				and t.d_group = #{model.gkey}
			</if>
			<if test="model.status != null and model.status != ''">
				and t.d_status = #{model.status}
			</if>
			<if test="model.value != null and model.value != ''">
				and instr(t.D_TEXT,#{model.value}) > 0
			</if>
		</where>
		ORDER By t.d_group,t.d_order ASC
	</select>
	
	<select id="getModel" resultMap="KeyValueMap" parameterType="java.lang.String" useCache="false">
		SELECT
			t.d_id,
			t.d_group as d_group_KEY,
			(SELECT x.G_TEXT FROM SYS_DATA_PAIRGROUP x WHERE x.G_KEY = t.d_group) as d_group_TEXT,
			t.d_label,
			t.d_key,
			t.D_VALUE,
			t.D_TEXT,
			t.d_status,
			t.d_order
		FROM SYS_DATA_PAIRVALUE t
		WHERE t.d_id = #{id}
	</select>
	
	<select id="getModelList" resultMap="KeyValueMap" parameterType="java.lang.String" useCache="false">
		SELECT
			t.d_id,
			t.d_group as d_group_KEY,
			(SELECT x.G_TEXT FROM SYS_DATA_PAIRGROUP x WHERE x.G_KEY = t.d_group) as d_group,
			t.d_label,
			t.d_key,
			t.D_VALUE,
			t.D_TEXT,
			t.d_status,
			t.d_order
		FROM SYS_DATA_PAIRVALUE t
		WHERE t.d_group = #{gkey}
		ORDER By t.d_group,t.d_order ASC
	</select>
	
	<select id="getKeyValueList" resultMap="KeyValueMap" parameterType="java.lang.String" useCache="false">
		SELECT
			t.d_id,
			t.d_group as d_group_KEY,
			t.d_label,
			t.d_key,
			t.D_VALUE,
			t.D_TEXT,
			t.d_status,
			t.d_order
		FROM SYS_DATA_PAIRVALUE t
		WHERE t.d_group IN
		<foreach collection="gkeyList" index="index" item="item" open="(" separator="," close=")">  
           #{item} 
        </foreach>
		ORDER By t.d_group,t.d_order ASC
	</select>
	
	<select id="getPairValues" resultMap="PairMap" parameterType="java.lang.String" useCache="false">
		   SELECT t.d_key,t.D_TEXT
			 FROM SYS_DATA_PAIRVALUE t 
			WHERE t.d_group = #{key}
			  AND t.d_status = 1
		 ORDER By t.d_order ASC
	</select>
	
	<select id="getGroupList" resultType="java.lang.String" useCache="false">
		 SELECT t.d_group FROM SYS_DATA_PAIRVALUE t WHERE t.d_id IN
		<foreach collection="list" index="index" item="item" open="(" separator="," close=")">  
           #{item} 
        </foreach>
	</select>
	
	<select id="getValue" resultType="java.lang.String" parameterType="java.lang.String" useCache="false">
		 SELECT t.D_TEXT FROM SYS_DATA_PAIRVALUE t  WHERE t.d_key = #{key}
	</select>
	
	<select id="getCount" parameterType="KeyValueModel" resultType="java.lang.Integer" useCache="false">
		SELECT COUNT(1)  
		  FROM SYS_DATA_PAIRVALUE t 
		 WHERE t.d_group = #{gkey}
		   AND t.d_key = #{key}
		   <if test="id != null and id != ''">
			AND t.d_id != #{id}
		   </if>
		   AND ROWNUM = 1
	</select>

	<select id="getCountRenew" parameterType="KeyValueModel" resultType="java.lang.Integer" useCache="false">
		SELECT COUNT(1)
		FROM SYS_DATA_PAIRVALUE t
		WHERE t.d_group = (SELECT d_group FROM SYS_DATA_PAIRVALUE WHERE d_id = #{id})
		  AND t.d_key = #{key}
		  AND t.d_id != #{id}
		  AND ROWNUM = 1
	</select>
</mapper>