<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="net.jeebiz.admin.authz.org.dao.IAuthzTeamDao">
	
	<resultMap id="AuthzTeamMap" type="AuthzTeamModel">
		<id property="id" column="team_id" />
		<result property="orgId" column="org_id" />
		<result property="orgName" column="org_name" />
		<result property="deptId" column="dept_id" />
		<result property="deptName" column="dept_name" />
		<result property="name" column="team_name" />
		<result property="intro" column="team_intro" />
		<result property="uid" column="team_uid" />
		<result property="status" column="team_status" />
		<result property="time24" column="time24" />
	</resultMap>
	
	<resultMap id="PairMap" type="PairModel">
		<result property="key" column="team_id" />
		<result property="value" column="team_name" />
	</resultMap>

	<insert id="insert" parameterType="AuthzTeamModel" flushCache="true">
		insert into sys_authz_org_team(dept_id,team_name,team_intro,team_status,team_uid)
		values(#{deptId,jdbcType=INTEGER},#{name},#{intro,jdbcType=VARCHAR},'1',#{uid})
	</insert>

	<delete id="delete" parameterType="java.lang.String" flushCache="true">
		DELETE FROM sys_authz_org_team WHERE team_id = #{id,jdbcType=INTEGER}
	</delete>

	<delete id="batchDelete" flushCache="true">
		DELETE FROM sys_authz_org_team WHERE team_id IN
		<foreach collection="list" index="index" item="item" open="(" separator="," close=")">
			#{item,jdbcType=INTEGER}
		</foreach>
	</delete>

	<update id="setStatus" parameterType="java.lang.String" flushCache="true">
		UPDATE sys_authz_org_team t
		   SET team_status = #{status}
		 WHERE team_id = #{id,jdbcType=INTEGER}
	</update>

	<update id="update" parameterType="AuthzTeamModel" flushCache="true">
		update sys_authz_org_team t
		<set>
			<if test="name != null and name != ''">t.team_name = #{name},</if>
			<if test="intro != null and intro != ''">t.team_intro = #{intro},</if>
			<if test="status != null and status != ''">t.team_status = #{status}</if>
		</set>
		where t.team_id = #{id,jdbcType=INTEGER}
	</update>
	
	<select id="getTeamCountByName" resultType="int" parameterType="java.lang.String" useCache="false">
		SELECT count(t.team_id)
		  FROM sys_authz_org_team t
		 WHERE t.team_name = #{name}
		   AND t.dept_id = #{deptId,jdbcType=INTEGER}
		  <if test="teamId != null and teamId != ''">
			AND t.team_id != #{teamId,jdbcType=INTEGER}
		 </if>
	</select>
	
	<select id="getStaffCount" resultType="int" parameterType="java.lang.String" useCache="false">
		SELECT count(t.u_id)
		  FROM sys_authz_user_list t
		 WHERE t.team_id = #{id,jdbcType=INTEGER}
	</select>
	
	<select id="getPagedList" resultMap="AuthzTeamMap" parameterType="AuthzTeamModel" useCache="false">
		SELECT
			t2.org_id,
			(select x.org_name from sys_authz_org_list x where x.org_id = t2.org_id) as org_name,
			t.dept_id,
			t2.dept_name,
			t.team_id,
			t.team_name,
			t.team_intro,
			t.team_uid,
			t.team_status,
			t.time24
		FROM sys_authz_org_team t inner join sys_authz_org_dept t2 on t2.dept_id = t.dept_id
		<where>
			<if test="model.orgId != null and model.orgId != ''">
				and t2.org_id = #{model.orgId,jdbcType=INTEGER}
			</if>
			<if test="model.deptId != null and model.deptId != ''">
				and t.dept_id = #{model.deptId,jdbcType=INTEGER}
			</if>
			<if test="model.name != null and model.name != ''">
				and t.team_name like CONCAT('%',#{model.name},'%')
			</if>
		</where>
		ORDER By t.time24 ASC
	</select>

	<select id="getModel" resultMap="AuthzTeamMap" parameterType="java.lang.String" useCache="true">
		SELECT
			t2.org_id,
			(select x.org_name from sys_authz_org_list x where x.org_id = t2.org_id) as org_name,
			t.dept_id,
			t2.dept_name,
			t.team_id,
			t.team_name,
			t.team_intro,
			t.team_uid,
			t.team_status,
			t.time24
		FROM sys_authz_org_team t inner join sys_authz_org_dept t2 on t2.dept_id = t.dept_id
	   WHERE t.team_id = #{id,jdbcType=INTEGER}
	</select>
	
	<select id="getModelList" resultMap="AuthzTeamMap" parameterType="java.lang.String" useCache="false">
		SELECT
			t2.org_id,
			(select x.org_name from sys_authz_org_list x where x.org_id = t2.org_id) as org_name,
			t.dept_id,
			t2.dept_name,
			t.team_id,
			t.team_name,
			t.team_intro,
			t.team_uid,
			t.team_status,
			t.time24
		FROM sys_authz_org_team t inner join sys_authz_org_dept t2 on t2.dept_id = t.dept_id
		<if test="key != null and key != ''">
			WHERE t.team_id = #{key,jdbcType=INTEGER}
		</if>
	</select>

	<select id="getPairValues" resultMap="PairMap" parameterType="java.lang.String" useCache="true">
	   SELECT t.team_id,t.team_name
		 FROM sys_authz_org_team t
		WHERE t.team_status = 1
		<if test="key != null and key != ''">
			AND t.dept_id = #{key,jdbcType=INTEGER}
		</if>
	</select>
    
</mapper>