<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="net.jeebiz.admin.extras.logbiz.dao.IAuthzLogDao" >
	
	<resultMap id="AuthzLogMap" type="AuthzLogModel">
		<result property="id" column="LOG_id" />
		<result property="userId" column="LOG_USERid" />
		<result property="userName" column="LOG_USERname" />
		<result property="opt" column="LOG_OPT" />
		<result property="protocol" column="LOG_PROTOCOL" />
		<result property="addr" column="LOG_ADDR" />
		<result property="location" column="LOG_LOCATION" />
		<result property="status" column="LOG_STATUS" />
		<result property="msg" column="LOG_MSG" />
		<result property="exception" column="LOG_EXCP" />
		<result property="timestamp" column="LOG_TIMESTAMP"/>
	</resultMap>
	 
	<select id="getPagedList" resultMap="AuthzLogMap" parameterType="AuthzLogModel">
		SELECT
			t.LOG_id,
			t.CREATOR as LOG_USERid,
			t2.u_username as LOG_USERname,
			t.LOG_OPT,
			t.LOG_PROTOCOL,
			t.LOG_ADDR,
			t.LOG_LOCATION,
			t.LOG_STATUS,
			t.LOG_MSG,
			t.LOG_EXCP,
			t.CREATE_TIME as LOG_TIMESTAMP 
		FROM SYS_DATA_LOG_AUTHZ t INNER JOIN sys_authz_user_list t2 ON t.CREATOR = t2.u_id
		<where>
			<if test="model.userId != null and model.userId != '' ">
				AND t.CREATOR = #{model.userId}
			</if>
			<if test="model.opt != null and model.opt != '' ">
				AND t.LOG_OPT = #{model.opt}
			</if>
			<if test="model.keywords != null and model.keywords != '' ">
				AND (t.LOG_ADDR like '%'||#{model.keywords}||'%' 
					OR t.LOG_LOCATION like '%'||#{model.keywords}||'%' 
					OR t2.u_username like '%'||#{model.keywords}||'%')
			</if>
			<if test="model.begintime != null and model.begintime != '' 
					  and model.endtime != null and model.endtime != '' ">
				<![CDATA[ AND t.CREATE_TIME BETWEEN UNIX_TIMESTAMP(#{model.begintime}) AND UNIX_TIMESTAMP( #{model.endtime}) ]]> 
			</if>
		</where>
	</select>
	
</mapper>