<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:th="http://www.thymeleaf.org">
<head>
  	<title>自定义界面</title>
  	<meta charset="utf-8">
  	<meta name="renderer" content="webkit">
  	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
  	<link rel="stylesheet" th:href="@{/assets/layuiadmin/layui/css/layui.css}" media="all">
	<link rel="stylesheet" th:href="@{/assets/layuiadmin/layui/css/modules/atree/atree.css}" media="all">
	<link rel="stylesheet" th:href="@{/assets/layuiadmin/style/admin.css}"	media="all">
</head>
<body>
<div class="layui-fluid" id="LAY-app-message">
	<div class="layui-card ">
		<div class="layui-card-header">引用区块</div>
        <div class="layui-card-body">
        	<blockquote class="layui-elem-quote">
            	为节省服务器开销，以下示例均未配置真实上传接口，所以每次上传都会报提示：请求上传接口出现异常，这属于正常现象。 
            </blockquote>
		   	<ul id="demo"></ul>   
		</div>
	</div>
</div>
<script th:src="@{/assets/layuiadmin/layui/layui.js}"></script>
<!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
<!--[if lt IE 9]>
<script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
<script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
<![endif]--> 
<script type="text/javascript" th:inline="javascript">
/*<![CDATA[*/
var ctxPath = /*[[@{/}]]*/'';
var basePath = /*[[@{/assets/layuiadmin/}]]*/'';
/*]]>*/
layui.config({
 	base 	: basePath,  //静态资源所在路径
 	prefix	: ctxPath,
 	version	: "20180921"
}).extend({
   index: "lib/index" //主入口模块
}).use(['index', 'atree'],function(){
	
	var $ = layui.$, setter = layui.setter, admin = layui.admin, table = layui.table, form = layui.form;
	
	var tree = layui.atree({
		elem : '#demo', //指定元素
		check : 'checkbox', //勾选风格
		skin : 'as', //设定皮肤
		//,target: '_blank' //是否新选项卡打开（比如节点返回href才有效）

		//           drag: true,
		spreadAll : true,
		props : {
			addBtnLabel : '新增',
			deleteBtnLabel : '删除',
			name : 'name',
			id : 'id',
			children : 'children',
			checkbox : 'checkbox',
			spread : 'spread'
		},
		change : function(val) {
			console.group('change event')
			console.log('Array')
			console.log(val);
			console.groupEnd()
		},
		click : function(item) { //点击节点回调
			console.group('click event')
			console.log('Object')
			console.log(item);
			console.groupEnd()
		},
		addClick : function(item, elem, add) {
			console.group('append event')
			console.log('Object')
			console.log(item);
			console.log('dom')
			console.log(elem);
			console.log('dom add event')
			var item = {
				name : '测试节点' + new Date().getTime(),
				id : -1
			}
			add(item)
			console.groupEnd()
		},
		deleteClick : function(item, elem, done) {
			console.group('delete event')
			console.log('Object')
			console.log(item);
			console.log('dom')
			console.log(elem);
			console.log('dom delete event')
			done();
			console.groupEnd()
		},
		nodes : [ //节点
		{
			name : '常用文件夹',
			id : 1,
			alias : 'changyong',
			children : [ {
				name : '所有未读',
				id : 11
				//,href: 'http://www.layui.com/'
				,
				alias : 'weidu'
			}, {
				name : '置顶邮件',
				id : 12
			}, {
				name : '标签邮件',
				id : 13
			} ]
		}, {
			name : '我的邮箱',
			id : 2,
			spread : true,
			children : [ {
				name : 'QQ邮箱',
				id : 21,
				spread : true,
				children : [ {
					name : '收件箱',
					id : 211,
					spread : true,
					children : [ {
						name : '所有未读',
						checkbox : true,
						id : 2111
					}, {
						name : '置顶邮件',
						id : 2112
					}, {
						name : '标签邮件',
						id : 2113
					} ]
				}, {
					name : '已发出的邮件',
					id : 212
				}, {
					name : '垃圾邮件',
					id : 213
				} ]
			}, {
				name : '阿里云邮',
				id : 22,
				children : [ {
					name : '收件箱',
					id : 221
				}, {
					name : '已发出的邮件',
					id : 222
				}, {
					name : '垃圾邮件',
					id : 223
				} ]
			} ]
		} ]
	});

});
</script>
</body>
</html>