<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.hiwepy.admin.authz.rbac0.dao.UserProfileMapper">

	<select id="getCountByPhone" resultType="int" parameterType="java.lang.String" useCache="false">
	   SELECT COUNT(1)
		 FROM t_user_profile t
		WHERE t.phone = #{phone}
		<if test="origin != null and origin != ''">
		   AND t.id != #{origin}
		</if>
		AND ROWNUM = 1
	</select>

	<select id="getCountByEmail" resultType="int" parameterType="java.lang.String" useCache="false">
	   SELECT COUNT(1)
		 FROM t_user_profile t
		WHERE t.email = #{email}
		<if test="origin != null and origin != ''">
		  AND t.id != #{origin}
		</if>
		AND ROWNUM = 1
	</select>

	<select id="getCountByIdcard" resultType="int" parameterType="java.lang.String" useCache="false">
	   SELECT COUNT(1)
		 FROM t_user_profile t
		WHERE t.idcard = #{idcard}
		<if test="origin != null and origin != ''">
		  AND t.id != #{origin}
		</if>
		AND ROWNUM = 1
	</select>

</mapper>
