<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="io.hiwepy.admin.extras.logbiz.dao.BizLogMapper" >

	 <resultMap id="BizLogMap" type="BizLogEntity">
		<result property="id" column="log_id" />
		<result property="module" column="log_biz" />
		<result property="business" column="log_biz" />
		<result property="opt" column="log_opt" />
		<result property="addr" column="log_addr" />
		<result property="location" column="log_location" />
		<result property="msg" column="log_msg" />
		<result property="exception" column="log_excp"/>
		<result property="timestamp" column="log_timestamp"/>
		<result property="userId" column="log_userid" />
		<result property="nickname" column="log_nickname" />
		<result property="deviceId" column="device_id" />
		<result property="appId" column="u_app_id" />
		<result property="appChannel" column="u_app_channel" />
		<result property="appVersion" column="u_app_version" />
	</resultMap>

	<select id="getPagedList" resultMap="BizLogMap" parameterType="BizLogEntity">
		SELECT
			t.log_id,
			t.log_module,
			t.log_biz,
			t.log_opt,
			t.log_addr,
			t.log_location,
			t.log_msg,
			t.log_excp,
			t.create_time as log_timestamp,
			t.creator as log_userid,
			t2.u_nickname as log_nickname,
			t.device_id,
			t.u_app_id,
			t.u_app_channel,
			t.u_app_version
		FROM sys_log_biz t INNER JOIN sys_authz_user_profile t2 ON t.creator = t2.u_id
		<where>
			<if test="model.userId != null and model.userId != '' ">
				AND t.creator = #{model.userId}
			</if>
			<if test="model.business != null and model.business != '' ">
				AND t.log_biz like CONCAT('%',#{model.business},'%')
			</if>
			<if test="model.module != null and model.module != '' ">
				AND t.log_module = #{model.module}
			</if>
			<if test="model.opt != null and model.opt != '' ">
				AND t.log_opt = #{model.opt}
			</if>
			<if test="model.nickname != null and model.nickname != '' ">
				AND t2.u_nickname like CONCAT('%',#{model.nickname},'%')
			</if>
			<if test="model.begintime != null and model.begintime != ''
					  and model.endtime != null and model.endtime != '' ">
				<![CDATA[ AND t.create_time BETWEEN UNIX_TIMESTAMP(#{model.begintime}) AND UNIX_TIMESTAMP( #{model.endtime}) ]]>
			</if>
		</where>
	 	ORDER BY t.log_id DESC
	</select>

</mapper>
