<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.jeebiz.admin.authz.thirdparty.dao.AuthzThirdpartyUserMapper">

	<insert id="insert" parameterType="AuthzThirdpartyUserModel" flushCache="true">
		<selectKey keyProperty="id" order="BEFORE" resultType="String">
	        SELECT sys_guid() FROM dual
	    </selectKey>
	    INSERT INTO sys_authz_user_account(u_id, u_uid, u_code, u_username, u_password, u_salt, u_secret, u_app_id, u_app_channel, u_app_version, u_online, u_status)
		VALUES(#{id}, #{uid,jdbcType=VARCHAR},#{ucode,jdbcType=VARCHAR},#{username},#{password},#{salt,jdbcType=VARCHAR},#{secret,jdbcType=VARCHAR},
			#{appId,jdbcType=VARCHAR},#{appChannel,jdbcType=VARCHAR},#{appVer,jdbcType=VARCHAR},#{online},'1')
	</insert>

	<select id="getCountByName" resultType="java.lang.Long" parameterType="java.lang.String" useCache="false">
		SELECT count(t.u_id)
		  FROM sys_authz_user_account t
		 WHERE t.u_username = #{name}
		 <if test="origin != null and origin != ''">
			AND t.u_id != #{origin}
		 </if>
	</select>

	<select id="getCountByCode" resultType="java.lang.Long" parameterType="java.lang.String" useCache="false">
		SELECT count(t.u_id)
		  FROM sys_authz_user_account t
		 WHERE t.u_code = #{code}
		<if test="origin != null and origin != ''">
			AND t.u_id != #{origin}
		 </if>
	</select>

</mapper>
