<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.jeebiz.admin.authz.thirdparty.dao.AuthzThirdpartyUserProfileMapper">

	<insert id="insert" parameterType="AuthzThirdpartyUserProfileModel" flushCache="true">
		<selectKey keyProperty="id" order="BEFORE" resultType="String">
			SELECT sys_guid() FROM dual
		</selectKey>
		INSERT INTO sys_authz_user_profile(u_pid, u_id, u_nickname, u_avatar, u_region_code, u_phone,
			u_email, u_birthday, u_gender, u_idcard,
			u_age, u_height, u_weight, u_language, u_intro,
			u_photos, u_province, u_city, u_area,
			u_wgs84_lng, u_wgs84_lat, u_degree)
		VALUES(#{id},#{uid},#{nickname},#{avatar},#{countryCode,jdbcType=VARCHAR}, #{phone},
			#{email,jdbcType=VARCHAR}, #{birthday,jdbcType=VARCHAR}, #{gender}, #{idcard,jdbcType=VARCHAR},
			#{age,jdbcType=INTEGER}, #{height,jdbcType=INTEGER}, #{weight,jdbcType=INTEGER}, #{language,jdbcType=VARCHAR}, #{intro,jdbcType=VARCHAR},
			#{photos,jdbcType=VARCHAR}, #{province,jdbcType=VARCHAR},#{city,jdbcType=VARCHAR},#{area,jdbcType=VARCHAR},
			#{longitude,jdbcType=DOUBLE},#{latitude,jdbcType=DOUBLE},#{degree,jdbcType=INTEGER})
	</insert>

	<select id="getCountByPhone" resultType="java.lang.Long" parameterType="java.lang.String" useCache="false">
	   SELECT COUNT(1)
		 FROM sys_authz_user_profile t
		WHERE t.u_phone = #{phone}
		<if test="origin != null and origin != ''">
		   AND t.u_pid != #{origin}
		 </if>
		  AND ROWNUM = 1
	</select>

	<select id="getCountByEmail" resultType="java.lang.Long" parameterType="java.lang.String" useCache="false">
	   SELECT COUNT(1)
		 FROM sys_authz_user_profile t
		WHERE t.u_email = #{email}
		 <if test="origin != null and origin != ''">
		   AND t.u_pid != #{origin}
		 </if>
		AND ROWNUM = 1
	</select>

	<select id="getCountByIdcard" resultType="java.lang.Long" parameterType="java.lang.String" useCache="false">
	   SELECT COUNT(1)
		 FROM sys_authz_user_profile t
		WHERE t.u_idcard = #{idcard}
		 <if test="origin != null and origin != ''">
		   AND t.u_pid != #{origin}
		 </if>
		 AND ROWNUM = 1
	</select>

</mapper>
