<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.jeebiz.admin.extras.article.dao.ArticleCategoryMapper">

    <resultMap id="ArticleCategoryMap" type="ArticleCategoryEntity">
        <!-- 文章分类id -->
		<result property="id" column="c_id" />
		<!-- 文章分类名称 -->
		<result property="name" column="c_name" />
		<!-- 文章分类等级 -->
		<result property="grade" column="c_grade" />
		<!-- 文章分类简介 -->
		<result property="intro" column="c_intro" />
		<!-- 文章分类关键字 -->
		<result property="keywords" column="c_keywords" />
		<!-- 文章分类状态（0:禁用|1:可用） -->
		<result property="status" column="c_status" />
		<!-- 文章分类排序 -->
		<result property="orderBy" column="c_order" />
		<!-- 文章分类创建者id -->
		<result property="creator" column="creator" />
		<!-- 文章分类创建者姓名 -->
		<result property="uname" column="c_uname" />
		<!-- 文章分类创建时间 -->
		<result property="createTime" column="create_time" />
    </resultMap>

    <resultMap id="PairMap" type="PairModel">
        <result property="key" column="c_id"/>
        <result property="value" column="c_name"/>
    </resultMap>

	<update id="setStatus" parameterType="java.lang.String" flushCache="true">
		UPDATE sys_article_category t
		SET c_status = #{status}
		WHERE c_id = #{id}
	</update>

	<select id="getCountByName" resultType="java.lang.Long" parameterType="java.lang.String" useCache="false">
		SELECT count(t.c_id)
		  FROM sys_article_category t
		 WHERE t.c_name = #{name}
		<if test="origin != null and origin != ''">
			AND t.c_id != #{origin}
		 </if>
	</select>

	<select id="getPagedList" resultMap="ArticleCategoryMap" parameterType="java.lang.String" useCache="false">
		SELECT
			t.c_id,
			t.c_name,
			t.c_grade,
			t.c_intro,
			t.c_keywords,
			t.c_status,
			t.c_order,
			t.creator,
			(SELECT x.u_nickname from sys_authz_user_profile x where x.u_id = t.creator) as c_uname,
			t.create_time
		FROM sys_article_category t
		<where>
			<if test="model.status != null and model.status != ''">
				and t.c_status = #{model.status}
			</if>
		</where>
		ORDER By t.c_order ASC
	</select>

	<select id="getPairList" resultMap="PairMap" parameterType="java.lang.String" useCache="false">
	  SELECT t.c_id,
	         t.c_name
		FROM sys_article_category t
	   WHERE t.c_status != 0
	   ORDER BY t.c_order ASC
	</select>

	<select id="getModel" resultMap="ArticleCategoryMap" parameterType="java.lang.String" useCache="false">
		SELECT
			t.c_id,
			t.c_name,
			t.c_grade,
			t.c_intro,
			t.c_keywords,
			t.c_status,
			t.c_order,
			t.creator,
			(SELECT x.u_nickname from sys_authz_user_profile x where x.u_id = t.creator) as c_uname,
			t.create_time
		FROM sys_article_category t
	   WHERE t.c_id = #{id}
	</select>

</mapper>
