<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.jeebiz.admin.extras.article.dao.IArticleMessageDao">

	<resultMap id="ArticleMessageMap" type="ArticleMessageModel">
        <!-- 文章消息id -->
		<result property="id" column="M_id" />
		<!-- 文章id -->
		<result property="cid" column="M_Cid" />
		<!-- 文章消息接收者id -->
		<result property="uid" column="M_Uid" />
		<!-- 文章消息接收者姓名 -->
		<result property="uname" column="M_Uname" />
		<!-- 文章消息内容 -->
		<result property="msg" column="M_MSG" />
		<!-- 文章消息状态（0:未读|1:已读） -->
		<result property="status" column="M_STATUS" />
		<!-- 文章消息发送时间 -->
		<result property="time24" column="M_time24" />
    </resultMap>

	<insert id="insert" parameterType="ArticleMessageModel" flushCache="true">
		INSERT INTO sys_article_messages(M_Cid,M_Uid,M_MSG,M_STATUS) VALUES (#{cid},#{uid},#{msg},0)
	</insert>
	
	<delete id="batchDelete" flushCache="true">
		DELETE FROM sys_article_messages WHERE M_id IN
		<foreach collection="list" index="index" item="item" open="(" separator="," close=")">  
           #{item} 
        </foreach>
	</delete>
	
	<select id="getPagedList" resultMap="ArticleMessageMap" parameterType="java.lang.String" useCache="false">
		SELECT
			t.M_id,
			t.M_Cid,
			t.M_Uid,
			(SELECT IFNULL(x.u_alias, x.u_username) from sys_authz_user_list x where x.u_id = t.M_Uid) as M_Uname,
			t.M_MSG,
			t.M_STATUS,
			t.M_time24
		FROM sys_article_messages t
		<where>
			<if test="model.cid != null and model.cid != ''">
				and t.M_Cid = #{model.cid}
			</if>
			<if test="model.uid != null and model.uid != ''">
				and t.M_Uid = #{model.uid}
			</if>
		</where>
		ORDER By t.M_time24 ASC
	</select>
	
	<select id="getModel" resultMap="ArticleMessageMap" parameterType="java.lang.String" useCache="false">
		SELECT
			t.M_id,
			t.M_Cid,
			t.M_Uid,
			(SELECT IFNULL(x.u_alias, x.u_username) from sys_authz_user_list x where x.u_id = t.M_Uid) as M_Uname,
			t.M_MSG,
			t.M_STATUS,
			t.M_time24
		FROM sys_article_messages t
	  WHERE t.M_id = #{id}
	</select>
	
	<select id="getRowList" resultMap="ArticleMessageMap" parameterType="java.lang.String" useCache="false">
		SELECT
			t.M_id,
			t.M_Cid,
			t.M_Uid,
			(SELECT IFNULL(x.u_alias, x.u_username) from sys_authz_user_list x where x.u_id = t.M_Uid) as M_Uname,
			t.M_MSG,
			t.M_STATUS,
			t.M_time24
		FROM sys_article_messages t
	   WHERE t.M_Cid = #{cid}
	ORDER By t.M_time24 ASC
	</select>

</mapper>
