<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.hiwepy.admin.extras.article.dao.ArticleTargetMapper">

    <resultMap id="ArticleTargetMap" type="ArticleTargetEntity">
	    <!-- 文章发布对象记录id -->
		<result property="id" column="t_id" />
		<!-- 文章id -->
		<result property="cid" column="t_cid" />
		<!-- 文章发布对象id（学院id|专业id|班级id|账户id） -->
		<result property="tid" column="t_tid" />
		<!-- 文章发布对象名称（学院|专业|班级|账户） -->
		<result property="tname" column="t_tname" />
    </resultMap>

	<insert id="insert" parameterType="ArticleTargetEntity" flushCache="true">
		INSERT INTO sys_article_content_targets(t_cid,t_tid) VALUES (#{cid},#{tid})
	</insert>

	<delete id="batchDelete" flushCache="true">
		DELETE FROM sys_article_content_targets WHERE t_id IN
		<foreach collection="list" index="index" item="item" open="(" separator="," close=")">
           #{item}
        </foreach>
	</delete>

	<delete id="delete" flushCache="true">
		DELETE FROM sys_article_content_targets WHERE t_id = #{id}
	</delete>

	<delete id="deleteTarget" flushCache="true">
		DELETE FROM sys_article_content_targets WHERE t_cid = #{cid}
	</delete>

	<update id="update" parameterType="ArticleTargetEntity" flushCache="true">
		UPDATE sys_article_content_targets t
		   SET t_tid = #{tid}
		 WHERE t_id = #{id}
	</update>

	<select id="getTargetList" resultMap="ArticleTargetMap" parameterType="java.lang.String" useCache="false">
		SELECT
			t.t_id,
			t.t_cid,
			t.t_tid
		FROM sys_article_content_targets t
	   WHERE t.t_cid = #{cid}
	</select>

</mapper>
