<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="net.jeebiz.admin.extras.settings.dao.ISettingsDao" >
	
	<resultMap id="SettingsMap" type="SettingsModel">
		<result property="id" column="D_ID" />
		<result property="gkey" column="D_GROUP" />
		<result property="label" column="D_LABEL" />
		<result property="key" column="D_KEY" />
		<result property="value" column="D_TEXT" />
		<result property="unit" column="D_UNIT" />
		<result property="type" column="D_TYPE" />
		<result property="rules" column="D_RULES" />
		<result property="remark" column="D_REMARK" />
		<result property="placeholder" column="D_PLACEHOLDER" />
		<result property="source" column="D_SOURCE" />
		<result property="status" column="D_STATUS" />
		<result property="order" column="D_ORDER" />
	</resultMap>
	
	<resultMap id="PairMap" type="PairModel">
		<result property="key" column="D_KEY" />
		<result property="value" column="D_TEXT" />
	</resultMap>
	
	<select id="getModelList" resultMap="SettingsMap" parameterType="java.lang.String" useCache="true">
		SELECT
			t.D_ID,
			t.D_GROUP,
			t.D_LABEL,
			t.D_KEY,
			t.D_TEXT,
			t.D_UNIT,
			t.D_TYPE,
			t.D_RULES,
			t.D_REMARK,
			t.D_PLACEHOLDER,
			t.D_SOURCE,
			t.D_STATUS,
			t.D_ORDER
		FROM SYS_DATA_SETTINGS t
		WHERE t.D_GROUP = #{gkey} 
		ORDER By t.D_ORDER ASC
	</select>
	
	<select id="getPairValues" resultMap="PairMap" parameterType="java.lang.String" useCache="true">
		SELECT t.D_KEY,t.D_TEXT
		FROM SYS_DATA_SETTINGS t 
		WHERE t.D_GROUP = #{gkey} 
		  and t.D_STATUS = 1
	</select>
	
	<update id="update" parameterType="SettingsModel" flushCache="true">
		UPDATE SYS_DATA_SETTINGS t
		<set>
			<if test="label != null and label != ''">t.D_LABEL = #{label},</if>
			<if test="value != null and value != ''">t.D_TEXT = #{value},</if>
			<if test="unit != null and unit != ''">t.D_UNIT = #{unit},</if>
			<if test="type != null and type != ''">t.D_TYPE = #{type},</if>
			<if test="rules != null and rules != ''">t.D_RULES = #{rules},</if>
			<if test="remark != null and remark != ''">t.D_REMARK = #{remark},</if>
			<if test="placeholder != null and placeholder != ''">t.D_PLACEHOLDER = #{placeholder},</if>
			<if test="source != null and source != ''">t.D_SOURCE = #{source},</if>
			<if test="status != null and status != ''">t.D_STATUS = #{status},</if>
			<if test="order != null and order != ''">t.D_ORDER = #{order}</if>
		</set>
		 WHERE t.D_ID = #{id}
	</update>
	
	<update id="batchUpdate" flushCache="true">
		declare
      	begin
    	<foreach collection="list" index="index" item="item" open="" separator=";" close=";">  
            update SYS_DATA_SETTINGS t
              <set>
				<if test="item.label != null and item.label != ''">t.D_LABEL = #{item.label},</if>
				<if test="item.value != null and item.value != ''">t.D_TEXT = #{item.value},</if>
				<if test="item.unit != null and item.unit != ''">t.D_UNIT = #{item.unit},</if>
				<if test="item.type != null and item.type != ''">t.D_TYPE = #{item.type},</if>
				<if test="item.rules != null and item.rules != ''">t.D_RULES = #{item.rules},</if>
				<if test="item.remark != null and item.remark != ''">t.D_REMARK = #{item.remark},</if>
				<if test="item.placeholder != null and item.placeholder != ''">t.D_PLACEHOLDER = #{item.placeholder},</if>
				<if test="item.source != null and item.source != ''">t.D_SOURCE = #{item.source},</if>
				<if test="item.status != null and item.status != ''">t.D_STATUS = #{item.status},</if>
				<if test="item.order != null and item.order != ''">t.D_ORDER = #{item.order}</if>
			</set>
           WHERE t.D_ID = #{item.id} 
		     AND t.D_GROUP = #{item.gkey} 
        </foreach>
        end;
    </update>
		
</mapper>