<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="net.jeebiz.admin.authz.org.dao.IAuthzOrganizationDao">

	<resultMap id="AuthzOrganizationMap" type="AuthzOrganizationModel">
		<id property="id" column="org_id" />
		<result property="code" column="org_code" />
		<result property="name" column="org_name" />
		<result property="intro" column="org_intro" />
		<result property="parent" column="org_parent" />
		<result property="uid" column="org_uid" />
		<result property="status" column="org_status" />
		<result property="time24" column="time24" />
	</resultMap>
	
	<resultMap id="PairMap" type="PairModel">
		<result property="key" column="org_id" />
		<result property="value" column="org_name" />
	</resultMap>

	<insert id="insert" parameterType="AuthzOrganizationModel" flushCache="true">
		insert into sys_authz_org_list(org_code,org_name,org_intro,org_parent,org_status,org_uid)
		values(#{code},#{name},#{intro,jdbcType=VARCHAR},#{parent,jdbcType=VARCHAR},'1',#{uid})
	</insert>
	
	<delete id="delete" parameterType="java.lang.String">
		DELETE FROM sys_authz_org_list WHERE org_id = #{id}
	</delete>

	<delete id="batchDelete" flushCache="true">
		DELETE FROM sys_authz_org_list WHERE org_id IN
		<foreach collection="list" index="index" item="item" open="(" separator="," close=")">  
           #{item} 
        </foreach>
	</delete>

	<update id="setStatus" parameterType="java.lang.String" flushCache="true">
		UPDATE sys_authz_org_list t
		   SET org_status = #{status}
		 WHERE org_id = #{id}
	</update>

	<update id="update" parameterType="AuthzDepartmentModel" flushCache="true">
		update sys_authz_org_list t
		<set>
			<if test="code != null and code != ''">t.org_code = #{code},</if>
			<if test="name != null and name != ''">t.org_name = #{name},</if>
			<if test="intro != null and intro != ''">t.org_intro = #{intro},</if>
			<if test="status != null and status != ''">t.org_status = #{status}</if>
		</set>
		where t.org_id = #{id}
	</update>
	
	<select id="getRootCount" resultType="int" useCache="false">
		SELECT count(t.org_id)
		  FROM sys_authz_org_list t
		 WHERE t.org_parent = 0
	</select>
	
	<select id="getCountByParent" resultType="int" parameterType="java.lang.String" useCache="false">
		SELECT count(t.org_id)
		  FROM sys_authz_org_list t
		 WHERE t.org_parent = #{parent}
	</select>
	
	<select id="getDeptCount" resultType="int" parameterType="java.lang.String" useCache="false">
		SELECT count(t.dept_id)
		  FROM sys_authz_org_dept t
		 WHERE t.org_id = #{id}
	</select>
	
	<select id="getCountByCode" resultType="int" parameterType="java.lang.String" useCache="false">
		SELECT count(t.org_id)
		  FROM sys_authz_org_list t
		 WHERE t.org_code = #{code}
		<if test="origin != null and origin != ''">
			AND t.org_id != #{origin}
		 </if>
	</select>
	
	<select id="getCountByName" resultType="int" parameterType="java.lang.String" useCache="false">
		SELECT count(t.org_id)
		  FROM sys_authz_org_list t
		 WHERE t.org_name = #{name}
		 <if test="origin != null and origin != ''">
			AND t.org_id != #{origin}
		 </if>
	</select>
	
	<select id="getPagedList" resultMap="AuthzOrganizationMap" parameterType="AuthzDepartmentModel" useCache="false">
		SELECT
			t.org_id,
			t.org_code,
			t.org_name,
			t.org_intro,
			t.org_parent,
			t.org_uid,
			t.org_status,
			t.time24
		FROM sys_authz_org_list t
		<where>
			<if test="model.name != null and model.name != ''">
				and t.org_name like '%'||#{model.name}||'%'
			</if>
		</where>
		ORDER By t.time24 ASC
	</select>

	<select id="getModel" resultMap="AuthzOrganizationMap" parameterType="java.lang.String" useCache="true">
		SELECT
			t.org_id,
			t.org_code,
			t.org_name,
			t.org_intro,
			t.org_parent,
			t.org_uid,
			t.org_status,
			t.time24
		FROM sys_authz_org_list t
	   WHERE t.org_id = #{id}
	</select>
	
	<select id="getOrgList" resultMap="AuthzOrganizationMap" useCache="false">
		SELECT
			t.org_id,
			t.org_code,
			t.org_name,
			t.org_intro,
			t.org_parent,
			t.org_uid,
			t.org_status,
			t.time24
		FROM sys_authz_org_list t
	   WHERE t.org_status == 1
	</select>
	
	<select id="getModelList" resultMap="AuthzOrganizationMap" parameterType="java.lang.String" useCache="false">
		SELECT
			t.org_id,
			t.org_code,
			t.org_name,
			t.org_intro,
			t.org_parent,
			t.org_uid,
			t.org_status,
			t.time24
		FROM sys_authz_org_list t
		<if test="key != null and key != ''">
			WHERE t.org_id != #{key}
		</if>
	</select>
	
	<select id="getPairValues" resultMap="PairMap" parameterType="java.lang.String" useCache="true">
		SELECT t.org_id,t.org_name
		FROM sys_authz_org_list t
		WHERE t.org_status = 1
		<if test="key != null and key != ''">
			and t.org_id != #{key}
		</if>
	</select>
    
</mapper>