<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="net.jeebiz.admin.authz.org.dao.IAuthzTeamDao">

	<!-- 开启二级缓存 -->
    <cache-ref namespace="net.jeebiz.admin.authz.org.dao.IAuthzOrganizationDao"/>

	<resultMap id="AuthzTeamMap" type="AuthzTeamModel">
		<id property="id" column="TEAM_ID" />
		<result property="orgId" column="ORG_ID" />
		<result property="orgName" column="ORG_NAME" />
		<result property="deptId" column="DEPT_ID" />
		<result property="deptName" column="DEPT_NAME" />
		<result property="name" column="TEAM_NAME" />
		<result property="intro" column="TEAM_INTRO" />
		<result property="uid" column="TEAM_UID" />
		<result property="status" column="TEAM_STATUS" />
		<result property="time24" column="TIME24" />
	</resultMap>

	<resultMap id="PairMap" type="PairModel">
		<result property="key" column="TEAM_ID" />
		<result property="value" column="TEAM_NAME" />
	</resultMap>

	<insert id="insert" parameterType="AuthzTeamModel" flushCache="true">
		insert into SYS_AUTHZ_ORG_TEAM(DEPT_ID,TEAM_NAME,TEAM_INTRO,TEAM_STATUS,TEAM_UID)
		values(#{deptId},#{name},#{intro,jdbcType=VARCHAR},'1',#{uid})
	</insert>

	<delete id="delete" parameterType="java.lang.String" flushCache="true">
		DELETE FROM SYS_AUTHZ_ORG_TEAM WHERE TEAM_ID = #{id}
	</delete>

	<delete id="batchDelete" flushCache="true">
		DELETE FROM SYS_AUTHZ_ORG_TEAM WHERE TEAM_ID IN
		<foreach collection="list" index="index" item="item" open="(" separator="," close=")">
			#{item}
		</foreach>
	</delete>

	<update id="setStatus" parameterType="java.lang.String" flushCache="true">
		UPDATE SYS_AUTHZ_ORG_TEAM t
		   SET TEAM_STATUS = #{status}
		 WHERE TEAM_ID = #{id}
	</update>

	<update id="update" parameterType="AuthzTeamModel" flushCache="true">
		update SYS_AUTHZ_ORG_TEAM t
		<set>
			<if test="name != null and name != ''">t.TEAM_NAME = #{name},</if>
			<if test="intro != null and intro != ''">t.TEAM_INTRO = #{intro},</if>
			<if test="status != null and status != ''">t.TEAM_STATUS = #{status}</if>
		</set>
		where t.TEAM_ID = #{id}
	</update>

	<select id="getTeamCountByName" resultType="int" parameterType="java.lang.String" useCache="false">
		SELECT count(t.TEAM_ID) 
		  FROM SYS_AUTHZ_ORG_TEAM t 
		 WHERE t.TEAM_NAME = #{name}
		   AND t.DEPT_ID = #{deptId}
		 <if test="teamId != null and teamId != ''">
			AND t.TEAM_ID != #{teamId}
		 </if>
	</select>
	
	<select id="getStaffCount" resultType="int" parameterType="java.lang.String" useCache="false">
		SELECT count(t.U_ID) 
		  FROM SYS_AUTHZ_USER_LIST t 
		 WHERE t.TEAM_ID = #{id}
	</select>

	<select id="getPagedList" resultMap="AuthzTeamMap" parameterType="AuthzTeamModel" useCache="false">
		SELECT
			t2.ORG_ID,
			(select x.ORG_NAME from SYS_AUTHZ_ORG_LIST x where x.ORG_ID = t2.ORG_ID) as ORG_NAME,
			t.DEPT_ID,
			t2.DEPT_NAME,
			t.TEAM_ID,
			t.TEAM_NAME,
			t.TEAM_INTRO,
			t.TEAM_UID,
			t.TEAM_STATUS,
			t.TIME24
		FROM SYS_AUTHZ_ORG_TEAM t inner join SYS_AUTHZ_ORG_DEPT t2 on t2.DEPT_ID = t.DEPT_ID
		<where>
			<if test="model.orgId != null and model.orgId != ''">
				and t2.ORG_ID = #{model.orgId}
			</if>
			<if test="model.deptId != null and model.deptId != ''">
				and t.DEPT_ID = #{model.deptId}
			</if>
			<if test="model.name != null and model.name != ''">
				and t.TEAM_NAME like '%'||#{model.name}||'%'
			</if>
		</where>
		ORDER By t.TIME24 ASC
	</select>

	<select id="getModel" resultMap="AuthzTeamMap" parameterType="java.lang.String" useCache="true">
		SELECT
			t2.ORG_ID,
			(select x.ORG_NAME from SYS_AUTHZ_ORG_LIST x where x.ORG_ID = t2.ORG_ID) as ORG_NAME,
			t.DEPT_ID,
			t2.DEPT_NAME,
			t.TEAM_ID,
			t.TEAM_NAME,
			t.TEAM_INTRO,
			t.TEAM_UID,
			t.TEAM_STATUS,
			t.TIME24
		FROM SYS_AUTHZ_ORG_TEAM t inner join SYS_AUTHZ_ORG_DEPT t2 on t2.DEPT_ID = t.DEPT_ID
	   WHERE t.TEAM_ID = #{id} 
	</select>

	<select id="getModelList" resultMap="AuthzTeamMap" parameterType="java.lang.String" useCache="false">
		SELECT
			t2.ORG_ID,
			(select x.ORG_NAME from SYS_AUTHZ_ORG_LIST x where x.ORG_ID = t2.ORG_ID) as ORG_NAME,
			t.DEPT_ID,
			t2.DEPT_NAME,
			t.TEAM_ID,
			t.TEAM_NAME,
			t.TEAM_INTRO,
			t.TEAM_UID,
			t.TEAM_STATUS,
			t.TIME24
		FROM SYS_AUTHZ_ORG_TEAM t inner join SYS_AUTHZ_ORG_DEPT t2 on t2.DEPT_ID = t.DEPT_ID
		<if test="key != null and key != ''">
			WHERE t.TEAM_ID = #{key} 
		</if>
	</select>
	
	<select id="getPairValues" resultMap="PairMap" parameterType="java.lang.String" useCache="true">
	   SELECT t.TEAM_ID,t.TEAM_NAME
		 FROM SYS_AUTHZ_ORG_TEAM t 
		WHERE t.TEAM_STATUS = 1
		<if test="key != null and key != ''">
			AND t.DEPT_ID = #{key}
		</if>
	</select>

</mapper>