<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="io.hiwepy.admin.authz.org.dao.TeamMapper">

	<resultMap id="TeamMap" type="TeamEntity">
		<id property="id" column="team_id" />
		<result property="orgId" column="org_id" />
		<result property="orgName" column="org_name" />
		<result property="deptId" column="dept_id" />
		<result property="deptName" column="dept_name" />
		<result property="name" column="team_name" />
		<result property="intro" column="team_intro" />
		<result property="uid" column="team_uid" />
		<result property="status" column="team_status" />
		<result property="time24" column="time24" />
	</resultMap>

	<resultMap id="PairMap" type="PairModel">
		<result property="key" column="team_id" />
		<result property="value" column="team_name" />
	</resultMap>

	<update id="setStatus" parameterType="java.lang.String" flushCache="true">
		UPDATE sys_authz_org_team t
		   SET team_status = #{status}
		 WHERE team_id = #{id}
	</update>

	<select id="getTeamCountByName" resultType="int" parameterType="java.lang.String" useCache="false">
		SELECT count(t.team_id)
		  FROM sys_authz_org_team t
		 WHERE t.team_name = #{name}
		   AND t.dept_id = #{deptId}
		 <if test="teamId != null and teamId != ''">
			AND t.team_id != #{teamId}
		 </if>
	</select>

	<select id="getStaffCount" resultType="int" parameterType="java.lang.String" useCache="false">
		SELECT count(t.u_id)
		  FROM sys_authz_user_account t
		 WHERE t.team_id = #{id}
	</select>

	<select id="getPagedList" resultMap="TeamMap" parameterType="TeamEntity" useCache="false">
		SELECT
			t2.org_id,
			(select x.org_name from sys_authz_org_list x where x.org_id = t2.org_id) as org_name,
			t.dept_id,
			t2.dept_name,
			t.team_id,
			t.team_name,
			t.team_intro,
			t.team_uid,
			t.team_status,
			t.time24
		FROM sys_authz_org_team t inner join sys_authz_org_dept t2 on t2.dept_id = t.dept_id
		<where>
			<if test="model.orgId != null and model.orgId != ''">
				and t2.org_id = #{model.orgId}
			</if>
			<if test="model.deptId != null and model.deptId != ''">
				and t.dept_id = #{model.deptId}
			</if>
			<if test="model.name != null and model.name != ''">
				and t.team_name like '%'||#{model.name}||'%'
			</if>
		</where>
		ORDER By t.time24 ASC
	</select>

	<select id="getModel" resultMap="TeamMap" parameterType="java.lang.String" useCache="true">
		SELECT
			t2.org_id,
			(select x.org_name from sys_authz_org_list x where x.org_id = t2.org_id) as org_name,
			t.dept_id,
			t2.dept_name,
			t.team_id,
			t.team_name,
			t.team_intro,
			t.team_uid,
			t.team_status,
			t.time24
		FROM sys_authz_org_team t inner join sys_authz_org_dept t2 on t2.dept_id = t.dept_id
	   WHERE t.team_id = #{id}
	</select>

	<select id="getModelList" resultMap="TeamMap" parameterType="java.lang.String" useCache="false">
		SELECT
			t2.org_id,
			(select x.org_name from sys_authz_org_list x where x.org_id = t2.org_id) as org_name,
			t.dept_id,
			t2.dept_name,
			t.team_id,
			t.team_name,
			t.team_intro,
			t.team_uid,
			t.team_status,
			t.time24
		FROM sys_authz_org_team t inner join sys_authz_org_dept t2 on t2.dept_id = t.dept_id
		<if test="key != null and key != ''">
			WHERE t.team_id = #{key}
		</if>
	</select>

	<select id="getPairValues" resultMap="PairMap" parameterType="java.lang.String" useCache="true">
	   SELECT t.team_id,t.team_name
		 FROM sys_authz_org_team t
		WHERE t.team_status = 1
		<if test="key != null and key != ''">
			AND t.dept_id = #{key}
		</if>
	</select>

</mapper>
