<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <title layout:title-pattern="$CONTENT_TITLE :: $DECORATOR_TITLE">Site Tilte</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>

    <!-- Header -->
    <header layout:fragment="header">
        <h1>Layout Tilte</h1>
    </header>

    <!-- Section -->
    <section>
        <th:block layout:fragment="content">
            <p>layout content</p>
        </th:block>
    </section>

    <!-- Footer -->
    <footer layout:fragment="footer">
        <p>Layout Footer</p>
    </footer>

</body>
</html>