<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="net.jeebiz.admin.shadow.dao.AuthzLoginMapper">

	<resultMap id="LoginMap" type="AuthzLoginModel">
		<!-- 账号id -->
		<result property="id" column="id" />
		<!-- 账号关联用户id -->
		<result property="uid" column="user_id" />
		<!-- 账号关联用户code（短号/工号） -->
		<result property="ucode" column="user_code" />
		<!-- 账号名称 -->
		<result property="account" column="account"/>
		<!-- 账号密码 -->
		<result property="password" column="password"/>
		<!-- 登录方式（如：password：账号密码、weixin:微信登录...） -->
		<result property="type" column="type"/>
		<!-- 账号密码盐：用于密码加解密 -->
		<result property="salt" column="salt"/>
		<!-- 账号秘钥：用于用户JWT加解密 -->
		<result property="secret" column="secret"/>
		<!-- 账号状态(0:不可用|1:正常|2:锁定) -->
		<result property="status" column="`status`"/>
		<!-- 初始化时间 -->
		<result property="time24" column="create_time"/>
	</resultMap>

	<resultMap id="LoginStatusMap" type="AuthzLoginStatusModel">
		<result property="ucount" column="count" />
		<result property="pcount" column="p_count" />
		<result property="rcount" column="r_count" />
		<result property="status" column="status" />
		<result property="salt" column="salt" />
	</resultMap>

	<resultMap id="ProfileMap" type="net.jeebiz.boot.api.dao.entities.BaseMap">
		<!-- 用户id -->
		<result property="id" column="id" />
		<!-- 用户唯一编号（内部工号） -->
		<result property="ucode" column="code" />
		<!-- 用户客户端应用id -->
		<result property="appId" column="app_id"/>
		<!-- 用户客户端应用渠道编码  -->
		<result property="appChannel" column="app_channel" />
		<!-- 用户客户端版本 -->
		<result property="appVer" column="app_version"/>
		<!-- 用户是否在线（1：是，0：否） -->
		<result property="online" column="online"/>
		<!-- 用户最近一次登录时间 -->
		<result property="onlineLatest" column="latest_online" />
		<!-- 用户别名（昵称） -->
		<result property="nickname" column="nickname"/>
		<!-- 用户头像：图片路径或图标样式  -->
		<result property="avatar" column="avatar" />
		<!-- 手机号码国家码 -->
		<result property="regionCode" column="region_code"/>
		<!-- 手机号码 -->
		<result property="phone" column="phone"/>
		<!-- 电子邮箱 -->
		<result property="email" column="email"/>
		<!-- 性别：（M：男，F：女） -->
		<result property="gender" column="gender" />
		<!-- 出生日期 -->
		<result property="birthday" column="birthday" />
		<!-- 身份证号码 -->
		<result property="idcard" column="idcard" />
		<!-- 用户年龄 -->
		<result property="age" column="age" />
		<!-- 用户身高 -->
		<result property="height" column="height" />
		<!-- 用户体重 -->
		<result property="weight" column="weight" />
		<!-- 官方语言 -->
		<result property="language" column="language" />
		<!-- 用户备注 -->
		<result property="intro" column="intro" />
		<!-- 个人照片（包含是否封面标记、序号、地址的JSON字符串） -->
		<result property="photos" column="photos" />
		<!-- 用户位置：常驻省份 -->
		<result property="province" column="province" />
		<!-- 用户位置：常驻城市 -->
		<result property="city" column="city" />
		<!-- 用户位置：常驻区域 -->
		<result property="area" column="area" />
		<!-- 用户位置：常驻地经度 -->
		<result property="longitude" column="wgs84_lng" />
		<!-- 用户位置：常驻地纬度 -->
		<result property="latitude" column="wgs84_lat" />
		<!-- 用户信息完成度 -->
		<result property="degree" column="degree" />
		<!-- 初始化时间 -->
		<result property="time24" column="create_time"/>
	</resultMap>

	<select id="getAccountStatus" parameterType="string" resultMap="LoginStatusMap" useCache="false">
		select (select CAST(count('1') AS CHAR) from sys_authz_user_account a where a.account = #{account}) count,
			   (select CAST(count('1') AS CHAR) from sys_authz_user_account b where b.account = #{account} and b.password = #{password,jdbcType=VARCHAR} ) p_count,
			   (select CAST(count('1') AS CHAR) from sys_authz_user_account c,sys_authz_user_roles x where c.id = x.id and c.account = #{account}) r_count,
			   IFNULL((select CAST(IFNULL(d.status,'0') AS CHAR) from sys_authz_user_account d where d.account = #{account}),'0') status,
			   (select d.salt from sys_authz_user_account d where d.account = #{account}) as salt
		from dual
	</select>

	<select id="getAccountStatusWithoutPwd" parameterType="string" resultMap="LoginStatusMap" useCache="false">
		select (select CAST(count('1') AS CHAR) from sys_authz_user_account a where a.account = #{account}) count,
			   (select CAST(count('1') AS CHAR) from sys_authz_user_account c,sys_authz_user_roles x where c.user_id = x.user_id and c.account = #{account}) r_count,
			   IFNULL((select CAST(IFNULL(d.status,'0') AS CHAR) from sys_authz_user_account d where d.account = #{account}),'0') status,
			   (select d.salt from sys_authz_user_account d where d.account = #{account}) as salt
		from dual
	</select>

	<select id="getAccountStatusById" parameterType="string" resultMap="LoginStatusMap" useCache="false">
		select (select count('1') from sys_authz_user_account a where a.id = #{id}) count,
			   (select count('1') from sys_authz_user_account c,sys_authz_user_roles x where c.user_id = x.user_id and c.id = #{id}) r_count,
			   IFNULL((select IFNULL(d.status,'0') from sys_authz_user_account d where d.id = #{id}),'0') status,
			   (select d.salt from sys_authz_user_account d where d.id = #{id}) as salt
		from dual
	</select>

	<sql id="AccountSQL">
		select t.id,
			   t.uid,
			   t.code,
			   t.account,
			   t.password,
			   t.salt,
			   t.secret,
			   t.status,
			   t.create_time
		from sys_authz_user_account t
		where t.account = #{account}
	</sql>

	<!-- 根据用户id和密码查询用户信息  -->
	<select id="getAccount" parameterType="string" resultMap="LoginMap" useCache="false">
		<include refid="AccountSQL"/>
		and t.password = #{password}
	</select>

	<!-- 无密码根据用户id用户信息  -->
	<select id="getAccountWithoutPwd" parameterType="string" resultMap="LoginMap" useCache="false">
		<include refid="AccountSQL"/>
	</select>

	<select id="getAccountById" parameterType="string" resultMap="LoginMap" useCache="false">
		select t.id,
			   t.user_id,
			   t.user_code,
			   t.account,
			   t.password,
			   t.salt,
			   t.secret,
			   t.status,
			   t.create_time
		from sys_authz_user_account t
		where t.id = #{id}
	</select>

	<select id="getAccountByUcode" parameterType="string" resultMap="LoginMap" useCache="false">
		select t.id,
			   t.user_id,
			   t.user_code,
			   t.account,
			   t.password,
			   t.salt,
			   t.secret,
			   t.status,
			   t.create_time
		from sys_authz_user_account t
		where t.user_code = #{ucode}
	</select>

	<select id="getAccountByUid" parameterType="string" resultMap="LoginMap" useCache="false">
		select t.id,
			   t.user_id,
			   t.user_code,
			   t.account,
			   t.password,
			   t.salt,
			   t.secret,
			   t.status,
			   t.create_time
		from sys_authz_user_account t
		where t.user_id = #{uid}
	</select>

	<select id="getAccountProfile" parameterType="string" resultMap="ProfileMap">
		SELECT
			t.id,
			t.user_id,
			t.user_code,
			t.app_id,
			t.app_channel,
			t.app_version,
			t.is_online,
			t.latest_online,
			t2.nickname,
			t2.avatar,
			t2.region_code,
			t2.phone,
			t2.email,
			t2.gender,
			t2.birthday,
			t2.idcard,
			t2.age,
			t2.height,
			t2.weight,
			t2.language,
			t2.intro,
			t2.photos,
			t2.province,
			t2.city,
			t2.area,
			t2.wgs84_lng,
			t2.wgs84_lat,
			t2.degree,
			t2.create_time
		FROM sys_authz_user_account t LEFT JOIN sys_authz_user_profile t2 ON t.user_id = t2.id
		WHERE t.id = #{userid}
	</select>

</mapper>
