<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="net.jeebiz.admin.extras.core.dao.IDataPermissionQueryDao" >
	
	<resultMap id="DataSpecialPermissionMap" type="org.apache.mybatis.dbperms.dto.DataSpecialPermission">
		<!-- 数据专项（实体表名称） -->
		<result property="table" column="C_TABLE" />
		<!-- 受限表字段名称（实体表字段列名称） -->
		<result property="column" column="C_COLUMN" />
		<!-- 受限数据项查询SQL -->
		<result property="sql" column="C_SQL" />
		<!-- 受限数据项字段可用状态:（0:不可用|1：可用） -->
		<result property="status" column="C_STATUS" />
		<!--受限数据项字段排序 -->
		<result property="order" column="C_ORDER" />
	</resultMap>
	
	<resultMap id="DataPermissionMap" type="org.apache.mybatis.dbperms.dto.DataPermission">
		<!-- 数据对象（实体表名称）） -->
		<result property="table" column="P_TABLE" />
		<!-- 数据权限项关系 and/or -->
		<result property="relation" column="P_RELATION" />
		<!-- 数据权限可用状态:（0:不可用|1：可用） -->
		<result property="status" column="P_STATUS" />
		<!-- 数据权限排序 -->
		<result property="order" column="P_ORDER" />
		<!-- 列信息 -->
		<collection property="columns" column="{pid=P_ID}" select="getPermissionColumns"></collection>
	</resultMap>
	
	<resultMap id="DataPermissionColumnMap" type="org.apache.mybatis.dbperms.dto.DataPermissionColumn">
		<!-- 受限表字段名称（实体表字段列名称） -->
		<result property="column" column="I_COLUMN" />
		<!-- 受限表字段与限制条件之间的关联条件 -->
		<result property="condition" column="I_CONDITION" />
		<!-- 受限表字段限制条件  -->
		<result property="perms" column="I_PERMS" />
		<!-- 受限表字段可用状态:（0:不可用|1：可用） -->
		<result property="status" column="I_STATUS" />
		<!-- 受限表字段排序 -->
		<result property="order" column="I_ORDER" />
	</resultMap>
	
	<select id="getSpecialPermissions" resultMap="DataSpecialPermissionMap" parameterType="java.lang.String" useCache="false">
	 SELECT distinct 
		 	rt.C_TABLE,
		 	rt.C_COLUMN,
			rt.C_SQL,
			rt.C_STATUS,
			rt.C_ORDER
		 FROM (
		 	SELECT 
				t3.C_TABLE,
				t3.C_NAME as C_COLUMN,
			   	t3.C_SQL,
			   	t3.C_STATUS,
			   	t3.C_ORDER
			FROM SYS_DATA_PERMS_SPCL t, SYS_DATA_PERMS_SPCL_ROLE_REL t2, SYS_DATA_PERMS_SPCL_COLUMNS t3
			WHERE t.T_ID = t2.T_ID
			  AND t.T_ID = t3.T_ID
			  AND t2.R_ID = #{rid} 
			  AND t.T_STATUS = 1
			  AND t3.C_STATUS = 1
			UNION ALL
			SELECT 
				t3.C_TABLE,
				t3.C_NAME as C_COLUMN,
			   	t3.C_SQL,
			   	t3.C_STATUS,
			   	t3.C_ORDER
			FROM SYS_DATA_PERMS_SPCL t, SYS_DATA_PERMS_SPCL_USER_REL t2, SYS_DATA_PERMS_SPCL_COLUMNS t3
			WHERE t.T_ID = t2.T_ID
			  AND t.T_ID = t3.T_ID
			  AND t2.U_ID = #{uid} 
			  AND t.T_STATUS = 1
			  AND t3.C_STATUS = 1
		 ) rt
	</select>
	
	<select id="getPermissions" resultMap="DataPermissionMap" parameterType="java.lang.String" useCache="false">
		SELECT 
			t.P_ID,
			t.P_NAME,
			t.P_TYPE,
			t.P_INTRO,
			(SELECT x.T_TABLE FROM SYS_DATA_PERMS_TABLE x WHERE x.T_ID = t.P_TABLE) as P_TABLE,
			t.P_RELATION,
			t.P_STATUS,
			t.P_ORDER
		FROM SYS_DATA_PERMS t, SYS_DATA_PERMS_GROUP_REL t2, SYS_DATA_PERMS_GROUP_ROLE_REL t3 
		WHERE t.P_ID = t2.P_ID
		  AND t2.G_ID = t3.G_ID
		  AND t3.R_ID = #{rid} 
		  AND t.P_STATUS = 1
		UNION ALL
		SELECT 
			t.P_ID,
			t.P_NAME,
			t.P_TYPE,
			t.P_INTRO,
			(SELECT x.T_TABLE FROM SYS_DATA_PERMS_TABLE x WHERE x.T_ID = t.P_TABLE) as P_TABLE,
			t.P_RELATION,
			t.P_STATUS,
			t.P_ORDER
		FROM SYS_DATA_PERMS t, SYS_DATA_PERMS_GROUP_REL t2, SYS_DATA_PERMS_GROUP_USER_REL t3 
		WHERE t.P_ID = t2.P_ID
		  AND t2.G_ID = t3.G_ID			
		  AND t3.U_ID = #{uid} 
		  AND t.P_STATUS = 1
		UNION ALL
		SELECT 
			t.P_ID,
			t.P_NAME,
			t.P_TYPE,
			t.P_INTRO,
			(SELECT x.T_TABLE FROM SYS_DATA_PERMS_TABLE x WHERE x.T_ID = t.P_TABLE) as P_TABLE,
			t.P_RELATION,
			t.P_STATUS,
			t.P_ORDER
		FROM SYS_DATA_PERMS t, SYS_DATA_PERMS_ROLE_REL t2
		WHERE t.P_ID = t2.P_ID
		  AND t2.R_ID = #{rid} 
		  AND t.P_STATUS = 1
		UNION ALL
		SELECT 
			t.P_ID,
			t.P_NAME,
			t.P_TYPE,
			t.P_INTRO,
			(SELECT x.T_TABLE FROM SYS_DATA_PERMS_TABLE x WHERE x.T_ID = t.P_TABLE) as P_TABLE,
			t.P_RELATION,
			t.P_STATUS,
			t.P_ORDER
		FROM SYS_DATA_PERMS t, SYS_DATA_PERMS_USER_REL t2
		WHERE t.P_ID = t2.P_ID
		  AND t2.U_ID = #{uid} 
		  AND t.P_STATUS = 1
	</select>
	
	<select id="getPermissionColumns" resultMap="DataPermissionColumnMap" useCache="false">
		SELECT 
		    t.P_ID,
			t.I_ID,
		   	NVL((SELECT t.C_NAME FROM SYS_DATA_PERMS_TABLE_COLUMNS t WHERE t.C_ID = t.I_COLUMN),t.I_COLUMN) as I_COLUMN,
		   	t.I_NAME,
		   	t.I_PINYIN,
		   	t.I_CONDITION,
		   	t.I_PERMS,
		   	t.I_STATUS,
		   	t.I_ORDER
		FROM SYS_DATA_PERMS_ITEM t
		WHERE t.P_ID = #{pid}
		  AND t.I_STATUS = 1
		ORDER By t.I_ORDER ASC
	</select>
	
	<select id="getDataList" resultType="java.lang.String" parameterType="java.lang.String" useCache="false">
		${sql}
	</select>
	
</mapper>