<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="net.jeebiz.admin.extras.logbiz.dao.IBizLogDao" >
	
	 <resultMap id="BizLogMap" type="BizLogModel">
		<result property="id" column="LOG_ID" />
		<result property="userId" column="LOG_USERID" />
		<result property="userName" column="LOG_USERNAME" />
		<result property="module" column="LOG_MODULE" />
		<result property="business" column="LOG_BIZ" />
		<result property="opt" column="LOG_OPT" />
		<result property="addr" column="LOG_ADDR" />
		<result property="location" column="LOG_LOCATION" />
		<result property="msg" column="LOG_MSG" />
		<result property="exception" column="LOG_EXCP" javaType="java.lang.String" jdbcType="CLOB"/>
		<result property="timestamp" column="LOG_TIMESTAMP"/>
	</resultMap>
	
	<select id="getPagedList" resultMap="BizLogMap" parameterType="BizLogModel">
		SELECT
			t.LOG_ID,
			t.CREATOR as LOG_USERID,
			t2.U_USERNAME as LOG_USERNAME,
			t.LOG_MODULE,
			t.LOG_BIZ,
			t.LOG_OPT,
			t.LOG_ADDR,
			t.LOG_LOCATION,
			t.LOG_MSG,
			t.LOG_EXCP,
			t.CREATE_TIME as LOG_TIME
		FROM SYS_DATA_LOG_BIZ t, SYS_AUTHZ_USER_LIST t2
		WHERE t.CREATOR = t2.U_ID
		<if test="model.userId != null and model.userId != '' ">
			AND t.CREATOR = #{model.userId}
		</if>
		<if test="model.module != null and model.module != '' ">
			AND t.LOG_MODULE = #{model.module}
		</if>
		<if test="model.business != null and model.business != '' ">
			AND t.LOG_BIZ like '%' || #{model.business} || '%'
		</if>
		<if test="model.opt != null and model.opt != '' ">
			AND t.LOG_OPT = #{model.opt}
		</if>
		<if test="model.keywords != null and model.keywords != '' ">
			AND (t.LOG_ADDR like '%'||#{model.keywords}||'%' 
				OR t.LOG_LOCATION like '%'||#{model.keywords}||'%' 
				OR t2.U_USERNAME like '%'||#{model.keywords}||'%')
		</if>
		<if test="model.begintime != null and model.begintime != '' and model.endtime != null and model.endtime != '' ">
			<![CDATA[ AND to_date(t.TIME24,  'yyyy-mm-dd HH24:mi:ss') BETWEEN to_date(#{model.begintime},  'yyyy-mm-dd HH24:mi:ss') AND to_date(#{model.endtime},  'yyyy-mm-dd HH24:mi:ss') ]]> 
		</if>
		ORDER BY to_date(t.TIME24,  'yyyy-mm-dd HH24:mi:ss') DESC
	</select>
	
</mapper>