<!DOCTYPE html>
<html lang="zh_CN" 
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:shiro="http://www.pollix.at/thymeleaf/shiro"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
  	<title>角色管理</title>
  	<meta charset="utf-8">
  	<meta name="renderer" content="webkit">
  	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
  	<link rel="stylesheet" th:href="@{/assets/layuiadmin/layui/css/layui.css}" media="all">
	<link rel="stylesheet" th:href="@{/assets/layuiadmin/style/admin.css}"	media="all">
</head>
<body>

	<div class="layui-fluid">
		<div class="layui-card">
			<div class="layui-form layui-card-header layuiadmin-card-header-auto">
				<div class="layui-form-item">
					<div class="layui-inline">
						<label class="layui-form-label">角色类型</label>
						<div class="layui-input-block">
							<select name="type" lay-filter="LAY-role-type">
								<option value="">全部类型</option>
								<option value="1">原生</option>
								<option value="2">继承</option>
								<option value="3">复制</option>
								<option value="4">自定义</option>
							</select>
						</div>
					</div>
					<div class="layui-inline">
						<button class="layui-btn" lay-submit lay-filter="LAY-role-search">
							<i class="layui-icon layui-icon-search layuiadmin-button-btn"></i>
						</button>
					</div>
				</div>
			</div>
			<div class="layui-card-body">
				<div style="padding-bottom: 10px;">
					<button shiro:hasPermission="role:add" class="layui-btn layui-btn-sm layuiadmin-btn-admin" data-type="add">添加</button>
					<button shiro:hasPermission="role:allot" class="layui-btn layui-btn-sm layuiadmin-btn-admin" data-type="allot">分配用户</button>
				</div>
				<table id="LAY-role-list" lay-filter="LAY-role-list"></table>
				<script type="text/html" id="buttonTpl">
          		{{#  if(d.check == true){ }}
            		<button class="layui-btn layui-btn-xs">已审核</button>
          		{{#  } else { }}
            		<button class="layui-btn layui-btn-primary layui-btn-xs">未审核</button>
         		{{#  } }}
        		</script>
        		<script type="text/html" id="switchTpl">
  					<input type="checkbox" name="status" value="{{d.status}}" 
					data-id="{{d.id}}" lay-skin="switch"  lay-text="可用|禁用" lay-filter="statusKv" {{ d.status == '1' ? 'checked' : '' }}>
				</script>
				<script type="text/html" id="typeTpl">
          		{{#  if(d.type == 1){ }}
            		<button class="layui-btn layui-btn-xs">原生</button>
				{{#  } else if(d.type == 2){ }}
            		<button class="layui-btn layui-btn-xs">继承</button>
				{{#  } else if(d.type == 3){ }}
            		<button class="layui-btn layui-btn-xs">复制</button>
          		{{#  } else { }}
            		<button class="layui-btn layui-btn-xs">自定义</button>
          		{{#  } }}
        		</script>
				<script type="text/html" id="table-opt-list">
          		<a shiro:hasPermission="role:renew" class="layui-btn layui-btn-normal layui-btn-xs" lay-event="renew"><i class="layui-icon layui-icon-edit"></i>编辑</a>
          		<a shiro:hasPermission="role:delete" class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del"><i class="layui-icon layui-icon-delete"></i>删除</a>
        		</script>
			</div>
		</div>
	</div>
	
	<script th:src="@{/assets/layuiadmin/layui/layui.js}"></script>
  	<!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
  	<!--[if lt IE 9]>
  	<script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
  	<script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
  	<![endif]--> 
  	<script type="text/javascript" th:inline="javascript">
   	/*<![CDATA[*/
   	var ctxPath = /*[[@{/}]]*/'';
    var basePath = /*[[@{/assets/layuiadmin/}]]*/'';
   	/*]]>*/
  	layui.config({
	  	base 	: basePath,  //静态资源所在路径
	  	prefix	: ctxPath,
	  	version	: "20180921"
  	}).extend({
  	   	index	: "lib/index", //主入口模块
    	role	: "authz/rbac0/role"
  	}).use(['index', 'table', 'role']);
  	</script>
</body>
</html>