<!DOCTYPE html>
<html lang="zh_CN" 
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:shiro="http://www.pollix.at/thymeleaf/shiro"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
  	<title>用户管理</title>
  	<meta charset="utf-8">
  	<meta name="renderer" content="webkit">
  	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
  	<link rel="stylesheet" th:href="@{/assets/layuiadmin/layui/css/layui.css}" media="all">
	<link rel="stylesheet" th:href="@{/assets/layuiadmin/style/admin.css}"	media="all">
</head>
<body>

	<div class="layui-fluid">
		<div class="layui-card">
			<div class="layui-form layui-card-header layuiadmin-card-header-auto">
				<div class="layui-form-item">
					<div class="layui-inline">
						<label class="layui-form-label">用户名</label>
						<div class="layui-input-block">
							<input type="text" name="username" placeholder="请输入"
								autocomplete="off" class="layui-input">
						</div>
					</div>
					<div class="layui-inline">
						<label class="layui-form-label">邮箱</label>
						<div class="layui-input-block">
							<input type="text" name="email" placeholder="请输入"
								autocomplete="off" class="layui-input">
						</div>
					</div>
					<div class="layui-inline">
						<label class="layui-form-label">性别</label>
						<div class="layui-input-block">
							<select name="sex">
								<option value="">不限</option>
								<option value="male">男</option>
								<option value="female">女</option>
							</select>
						</div>
					</div>
					<div class="layui-inline">
						<button class="layui-btn layuiadmin-btn-useradmin" lay-submit
							lay-filter="LAY-user-front-search">
							<i class="layui-icon layui-icon-search layuiadmin-button-btn"></i>
						</button>
					</div>
				</div>
			</div>
			<div class="layui-card-body">
				<div style="padding-bottom: 10px;">
					<button shiro:hasPermission="user:import" class="layui-btn layui-btn-sm layuiadmin-btn-admin" data-type="impuser">批量导入</button>
					<button shiro:hasPermission="user:batchdel" class="layui-btn layui-btn-sm layuiadmin-btn-admin" data-type="batchdel">批量删除</button>
					<button shiro:hasPermission="user:add" class="layui-btn layui-btn-sm layuiadmin-btn-admin" data-type="add">添加</button>
					<button shiro:hasPermission="user:initpwd" class="layui-btn layui-btn-sm layuiadmin-btn-admin" data-type="initpwd">密码初始化</button>
					<button shiro:hasPermission="user:allot" class="layui-btn layui-btn-sm layuiadmin-btn-admin" data-type="allot">指定角色</button>
				</div>
				<table id="LAY-user-list" lay-filter="LAY-user-list"></table>
				<script type="text/html" id="genderTpl">
          		{{#  if(d.gender == 'male'){ }}
            		<button class="layui-btn layui-btn-normal layui-btn-xs">男</button>
          		{{#  } else { }}
            		<button class="layui-btn layui-btn-danger layui-btn-xs">女</button>
          		{{#  } }}
        		</script>
				<script type="text/html" id="switchTpl">
  					<input type="checkbox" name="status" value="{{d.status}}" 
					data-id="{{d.id}}" lay-skin="switch" lay-text="可用|禁用" lay-filter="statusKv" {{ d.status == '1' ? 'checked' : '' }}>
				</script>
				<script type="text/html" id="imgTpl"> 
          			<img style="display: inline-block; width: 50%; height: 100%;" src= {{ d.avatar }}>
        		</script>
				<script type="text/html" id="table-opt-list">
					<a shiro:hasPermission="user:detail" class="layui-btn layui-btn-xs" lay-event="detail"><i class="layui-icon layui-icon-about"></i>详情</a>
          			<a shiro:hasPermission="user:renew" class="layui-btn layui-btn-normal layui-btn-xs" lay-event="renew"><i class="layui-icon layui-icon-edit"></i>编辑</a>
          			<a shiro:hasPermission="user:delete" class="layui-btn layui-btn-danger layui-btn-xs" lay-event="delete"><i class="layui-icon layui-icon-delete"></i>删除</a>
        		</script>
			</div>
		</div>
	</div>

	<script th:src="@{/assets/layuiadmin/layui/layui.js}"></script>
  	<!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
  	<!--[if lt IE 9]>
  	<script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
  	<script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
  	<![endif]--> 
  	<script type="text/javascript" th:inline="javascript">
   	/*<![CDATA[*/
   	var ctxPath = /*[[@{/}]]*/'';
    var basePath = /*[[@{/assets/layuiadmin/}]]*/'';
   	/*]]>*/
  	layui.config({
	  	base 	: basePath,  //静态资源所在路径
	  	prefix	: ctxPath,
	  	version	: "20180921"
  	}).extend({
  	   	index	: "lib/index", //主入口模块
  	  	user	: "authz/rbac0/user"
  	}).use(['index', 'table', 'user']);
  	</script>
</body>
</html>