<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title>控制台</title>
<meta name="renderer" content="webkit">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
<link rel="stylesheet" th:href="@{/assets/layuiadmin/layui/css/layui.css}" media="all"/>
<link rel="stylesheet" th:href="@{/assets/layuiadmin/style/admin.css}" media="all"/>
</head>
<body>

	<div class="layui-fluid">
		<div class="layui-row layui-col-space15">

			<div class="layui-col-sm6 layui-col-md3">
				<div class="layui-card">
					<div class="layui-card-header">
						访问量 <span class="layui-badge layui-bg-blue layuiadmin-badge">周</span>
					</div>
					<div class="layui-card-body layuiadmin-card-list">
						<p class="layuiadmin-big-font">9,999,666</p>
						<p>
							总计访问量 <span class="layuiadmin-span-color">88万 <i
								class="layui-inline layui-icon layui-icon-flag"></i></span>
						</p>
					</div>
				</div>
			</div>
			<div class="layui-col-sm6 layui-col-md3">
				<div class="layui-card">
					<div class="layui-card-header">
						活跃用户 <span class="layui-badge layui-bg-orange layuiadmin-badge">月</span>
					</div>
					<div class="layui-card-body layuiadmin-card-list">

						<p class="layuiadmin-big-font">66,66</p>
						<p>
							最近一个月 <span class="layuiadmin-span-color">15% <i
								class="layui-inline layui-icon layui-icon-user"></i></span>
						</p>
					</div>
				</div>
			</div>
			<div class="layui-col-sm6 layui-col-md3">
				<div class="layui-card">
					<div class="layui-card-header">
						练习量 <span class="layui-badge layui-bg-cyan layuiadmin-badge">月</span>
					</div>
					<div class="layui-card-body layuiadmin-card-list">
						<p class="layuiadmin-big-font">33,555</p>
						<p>
							新下载 <span class="layuiadmin-span-color">10% <i
								class="layui-inline layui-icon layui-icon-face-smile-b"></i></span>
						</p>
					</div>
				</div>
			</div>
			<div class="layui-col-sm6 layui-col-md3">
				<div class="layui-card">
					<div class="layui-card-header">
						题目量 <span class="layui-badge layui-bg-green layuiadmin-badge">总</span>
					</div>
					<div class="layui-card-body layuiadmin-card-list">

						<p class="layuiadmin-big-font">4144</p>
						<p>
							总题目 <span class="layuiadmin-span-color">5101 <i
								class="layui-inline layui-icon layui-icon-dollar"></i></span>
						</p>
					</div>
				</div>
			</div>
			
		</div>
		<div class="layui-row layui-col-space15">

			<div class="layui-col-md9">
				<div class="layui-card">
					<div class="layui-card-header">数据概览</div>
					<div class="layui-card-body">

						<div class="layui-carousel layadmin-carousel layadmin-dataview"
							data-anim="fade" lay-filter="LAY-index-dataview">
							<div carousel-item id="LAY-index-dataview">
								<div>
									<i class="layui-icon layui-icon-loading1 layadmin-loading"></i>
								</div>
								<div></div>
								<div></div>
								<div></div>
							</div>
						</div>

					</div>
				</div>
				<div class="layui-card">
					<div class="layui-tab layui-tab-brief layadmin-latestData">
						<ul class="layui-tab-title">
							<li class="layui-this">今日模拟</li>
							<li>今日错题</li>
						</ul>
						<div class="layui-tab-content">
							<div class="layui-tab-item layui-show">
								<table id="LAY-index-topSearch"></table>
							</div>
							<div class="layui-tab-item">
								<table id="LAY-index-topCard"></table>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="layui-col-md3">
				
				<div class="layui-card">
					<div class="layui-card-header">考试报告</div>
					<div class="layui-card-body layadmin-takerates">
						<div class="layui-progress" lay-showPercent="yes">
							<h3>
								通过率（日同比 28% <span class="layui-edge layui-edge-top"
									lay-tips="增长" lay-offset="-15"></span>）
							</h3>
							<div class="layui-progress-bar" lay-percent="65%"></div>
						</div>
						<div class="layui-progress" lay-showPercent="yes">
							<h3>
								签到率（日同比 11% <span class="layui-edge layui-edge-bottom"
									lay-tips="下降" lay-offset="-15"></span>）
							</h3>
							<div class="layui-progress-bar" lay-percent="32%"></div>
						</div>
					</div>
				</div>
				
				<div class="layui-card">
					<div class="layui-card-header">实时监控</div>
					<div class="layui-card-body layadmin-takerates">
						<div class="layui-progress" lay-showPercent="yes">
							<h3>CPU使用率</h3>
							<div class="layui-progress-bar" lay-percent="58%"></div>
						</div>
						<div class="layui-progress" lay-showPercent="yes">
							<h3>内存占用率</h3>
							<div class="layui-progress-bar layui-bg-red" lay-percent="90%"></div>
						</div>
					</div>
				</div>
				
			</div>
		</div>
	</div>

	<script th:src="@{/assets/layuiadmin/layui/layui.js}"></script>
	<!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
	<!--[if lt IE 9]>
  <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
  <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->
	<script type="text/javascript" th:inline="javascript">
		/*<![CDATA[*/
		var ctxPath = /*[[@{/}]]*/'';
		var basePath = /*[[@{/assets/layuiadmin/}]]*/'';
		var message = /*[[${message}]]*/'';
		/*]]>*/
		layui.config({
			base : basePath, //静态资源所在路径
			prefix : ctxPath,
			version : "20180921"
		}).extend({
			index : "lib/index" //主入口模块
		}).use([ 'index', 'console' ]);
	</script>
</body>
</html>

